/*==============================================================================
 *measurement
/*==============================================================================*/
#tab-measurement #tab-measurement-box{height: 100%;/*overflow:hidden;*/list-style: none;padding: 0 1%}
#tab-measurement #tab-measurement-box li{display: none;list-style: none;/*overflow: hidden*/}
#tab-measurement .title{text-align: center;margin-bottom: 5%;font-size: 100%;color: #FFC177}
#tab-measurement .tab{float: left;width: 45.9%;padding: 2%;font-size: 90%;white-space: normal;}
#tab-measurement .tab-border{border-right: 1px solid rgba(255, 255, 255, 0.3)}
.tab-measurement-detail{height: 40%;background:rgba(0, 0, 0, 0.5);max-height: 290px;overflow: hidden}

#tab-measurement .tab-body-size,#tab-measurement .tab-standard-size{background:rgba(0, 0, 0, 0.3);position: relative}
#tab-measurement .tab-body-size{width: 850px;padding: 1%;overflow: hidden;}
#tab-measurement .tab-standard-size{width: 860px;overflow: hidden;padding: 1%}

/*Table Input*/
ul.measusrement-table{list-style: none;width: 80%}
ul.measusrement-table li{display: block!important;border:1px solid rgba(255,255,255,0.2);background:rgba(0, 0, 0, 0.5);float: left;width: 80px;margin-left: 1%}
ul.measusrement-table li p{text-align: center;font-size: 85%;position: relative}
ul.measusrement-table li p:first-child{margin: 5% 0;font-weight: bold;color:#FFF;text-transform:lowercase;}
ul.measusrement-table li p:first-letter{text-transform: capitalize}
ul.measusrement-table li p:last-child{font-size: 75%}
ul.measusrement-table li p:nth-child(2){height: 30px}
ul.measusrement-table li p:nth-child(2) span{color: deepskyblue}
ul.measusrement-table li p input{text-align:center;background: rgba(0, 0, 0, 0.7);border: 1px solid #E2DFC7;border-radius: 2px;font-size: 100%;height: 20px;outline: medium none;padding: 2px;width: 80%;color: #FFF}
ul.measusrement-table li p input:focus{box-shadow: 0 0 15px #FFF}
#tab-measurement-box .titleProduct{margin: 0 0 1% 0;clear: left}
#tab-measurement-box .titleProduct span:first-child{color: #FFFFFF;font-weight: bold;margin: 0 1%}
#tab-measurement-box .button{background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);color: #FFFFFF;cursor: pointer;display: inline-block;font-weight: 500;letter-spacing: 0.8px;margin-top: 10px;padding: 6px 20px;text-transform: uppercase}
#tab-measurement-box .buttonBack{background:rgba(0, 0, 0, 0.5)}
#tab-measurement-box .buttonCart{background: #4BA42C}
#tab-measurement-box .validationError{border: 1px solid red !important;}
#tab-measurement-box #jk-size-detail,#pt-size-detail,#vt-size-detail{font-size: 80%;color: #f3b100;text-transform:capitalize;}
/*#tab-measurement-box .box-media{position: absolute;right: 38px;top: 1%;width: 320px;}*/
#tab-measurement-box .box-media .box-media-title{font-size: 90%;padding-left: 10%}
#tab-measurement-box .box-media .border-vdo{width: 47%;height: 265px;float: left;margin-right: 10px;padding: 1%;border: 1px solid #FFF;}
#tab-measurement-box .box-media .border-img{float: left;width: 47%;height: 265px;float: left;position: relative;padding: 1%;border: 1px solid #FFF;}
#tab-measurement-box .box-extra-pant{margin-right: 10px}
#tab-measurement-box .box-extra-pant *{color: red;font-weight: bold;font-size: 100%;}
#tab-measurement-box .zoom-image-size{position: absolute;bottom: 5%;right: 5%;font-size: 90%}
#tab-measurement-box .zoom-image-size:hover{text-shadow: 2px 2px 5px #FFF;color: #FFF!important;}
