@font-face {
    font-family: "Century Gothic";
    src: url('../font/web/GOTHIC.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Century Gothic";
    src: url('../font/web/GOTHICB.TTF');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Century Gothic";
    src: url('../font/web/GOTHICI.TTF');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Century Gothic";
    src: url('../font/web/GOTHICBI.TTF');
    font-weight: bold;
    font-style: italic;
}


body, div, h1, h2, h3, h4, h5, h6, form, label, input, span, ul, li, p, a {
    margin: 0;
    padding: 0;
}

body {
    background-color: #080500;
    font-family: "Century Gothic";
    color: #FFFFFF;
    font-size: 14px;
}

h1 {
    font-size: 42px;
    font-weight: normal;
    color: rgb(241, 236, 196);
}

h2 {
    padding-left: 5px;
    font-size: 16px;
}

table td {
    padding: 5px;
}

footer {
    margin-top: 15px;
    font-size: 13px;
    text-align: center;
}

.wrapper {
    width: 1024px;
    margin: 35px auto;
}

.content {
    float: left;
    width: 50%;
}

.require {
    color: #FF0000;
}

.requireText {
    font-size: 10px;
}

.topic {
    width: 95px;
    text-align: right;
}

.comboboxBox {
    width: 388px;
    padding: 3px;
    background-color: #070707;
    border: solid 1px #212121;
    color: #FFFFFF;
}

.textBox {
    width: 380px;
    padding: 3px;
    background-color: #070707;
    border: solid 1px #212121;
    color: #FFFFFF;
}

.textArea {
    width: 478px;
    height: 200px;
    margin-left: 10px;
    padding: 3px;
    background-color: #070707;
    border: solid 1px #212121;
    overflow: hidden;
    font-family: "Century Gothic";
    font-size: 13px;
    color: #FFFFFF;
}

.remark {
    font-size: 13px;
    text-align: justify;
}

.divButton {
    width: 156px;
    margin: 0 auto;
}

.spacer {
    clear: both;
    height: 0px;
}

.invalid {
    border: thin solid red;
}

.hidden {
    display: none;
}

#msgLoading {
    text-align: center;
}

#msgComplete {
    margin-top: 150px;
}

#btnBack {
    width: 120px;
    padding: 5px;
    background-color: #749330;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
}

#btnSubmit {
    width: 156px;
    height: 56px;
    background: url(../images/Submit.png) no-repeat;
    border: hidden;
    cursor: pointer;
}