body{margin:0 auto;padding:0;background-color:#100903;}
#art-main{position:relative;width:100%;left:0;top:0;}
#art-page-background-simple-gradient{position:absolute;top:0;width:100%;height:1px;}
.cleared{float:none;clear:both;margin:0;padding:0;border:none;font-size:1px;}
table.position{position:relative;width:100%;table-layout:fixed;}
.art-Sheet{position:relative;z-index:0;margin:0 auto;width:1024px;min-width:1px;min-height:1px;}
.art-Sheet-body{position:relative;z-index:1;padding:0px;}
.art-Sheet{margin-top:0px !important;}
#art-page-background-simple-gradient, #art-page-background-gradient, #art-page-background-glare{min-width:1024px;}
.art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover{text-align:left;text-decoration:none;outline:none;letter-spacing:normal;word-spacing:normal;}
.art-menu, .art-menu ul{margin:0;padding:0;border:0;list-style-type:none;display:block;}
.art-menu li{margin:0;padding:0;border:0;display:block;float:left;position:relative;z-index:5;background:none;}
.art-menu li:hover{z-index:10000;white-space:normal;}
.art-menu li:hover>ul{visibility:visible;top:100%;}
.art-menu li li:hover>ul{top:0;left:100%;}
.art-menu, .art-menu ul{min-height:0;}
.art-menu{padding:0px 0px 0px 0px;}
.art-menu a{position:relative;display:block;overflow:hidden;height:28px;cursor:pointer;text-decoration:none;margin-right:0px;margin-left:0px;}
.art-menu a .r, .art-menu a .l{position:absolute;display:block;top:0;z-index:-1;height:129px;}
.art-menu a .l{left:0;right:1px;}
.art-menu a .r{width:402px;right:0;clip:rect(auto, auto, auto, 401px);}
.art-menu a .t{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:16px;font-weight:550;color:#cccba6;padding:0 10px;margin:0 1px;line-height:25px;}
.art-menu a .t2{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:16px;font-weight:550;color:#76cbf6;padding:0 5px;margin:0 1px;line-height:25px;}
.art-menu a .t3{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:16px;font-weight:550;color:#cc640f;padding:0 10px;margin:0 1px;line-height:25px;}
.art-menu a .t4{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:16px;font-weight:550;color:#cb5fba;padding:0 20px;margin:0 1px;line-height:25px;}
.art-menu-ul{padding-left:30px;}
.art-menu a:hover .l, .art-menu a:hover .r{top:-43px;}
.art-menu li:hover>a .l, .art-menu li:hover>a .r{top:-43px;}
.art-menu li:hover a .l, .art-menu li:hover a .r{top:-43px;}
.art-menu a:hover .t{color:#323630;}
.art-menu a:hover .t2{color:#323630;}
.art-menu a:hover .t3{color:#cc640f;}
.art-menu a:hover .t4{color:#cb5fba;}
.art-menu li:hover a .t{color:#323630;}
.art-menu li:hover a .t2{color:#323630;}
.art-menu li:hover a .t3{color:#cc640f;}
.art-menu li:hover a .t4{color:#cb5fba;}
.art-menu li:hover>a .t{color:white;}
.art-menu li:hover>a .t2{color:white;}
.art-menu li:hover>a .t3{color:white;}
.art-menu li:hover>a .t4{color:white;}
.art-menu a.active .l, .art-menu a.active .r{top:-86px;}
.art-menu a.active .t{color:#cccba6;}
.art-menu a.active .t2{color:#76cbf6;}
.art-menu a.active .t3{color:#cc640f;}
.art-menu a.active .t4{color:#cb5fba;}
.art-menu ul a, .art-menu ul a:link, .art-menu ul a:visited, .art-menu ul a:hover, .art-menu ul a:active{text-align:center;text-indent:12px;text-decoration:none;line-height:20px;color:#404040;font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:13px;}
.art-menu ul li a:hover{color:#F5F5F5;background-position:0 -20px;}
.art-menu ul li:hover>a{color:#F5F5F5;background-position:0 -20px;}
.art-contentLayout{position:relative;margin-bottom:0px;width:1024px;}
.art-Block{position:relative;z-index:0;margin:0 auto;min-width:1px;min-height:1px;}
.art-Block-body{position:relative;z-index:1;padding:0px;}
.art-Block{margin:6px;}
.art-BlockHeader{position:relative;z-index:0;height:25px;padding:0 7px;margin-top:0px;}
.art-BlockHeader .t{height:30px;color:#494637;font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:16px;white-space:nowrap;padding:0 1px;}
.art-BlockContent{position:relative;z-index:0;margin:0 auto;min-width:1px;min-height:1px;}
.art-BlockContent-body{position:relative;z-index:1;padding:7px;}
.art-BlockContent-body{color:#494637;font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:11px;}
.art-BlockContent-body a:link{color:#494637;font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:11px;}
.art-BlockContent-body a:visited, .art-BlockContent-body a.visited{color:#494637;font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:11px;text-decoration:none;}
.art-BlockContent-body a:hover, .art-BlockContent-body a.hover{color:#FFFFFF;font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:11px;text-decoration:none;}
.art-BlockContent-body ul{list-style-type:none;color:#ABB2A9;margin:0;padding:0;}
.art-BlockContent-body ul li{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:13px;line-height:125%;line-height:1.25em;padding:0px 0 0px 10px;background-image:url('../images/BlockContentBullets.png');background-repeat:no-repeat;}
.art-Post{position:relative;z-index:0;margin:0 auto;min-width:1px;min-height:1px;}
.art-Post-body{position:relative;z-index:1;padding:0 0 10px 0;}
.art-Post{margin:0px;}
a img{border:0;}
.art-article img, img.art-article{}
.art-PostHeader a, .art-PostHeader a:link, .art-PostHeader a:visited, .art-PostHeader a:hover{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:24px;margin:0;color:#C0C5BE;}
.art-PostHeader a:link{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;text-decoration:none;text-align:left;color:#B5B5B5;}
.art-PostHeader a:visited, .art-PostHeader a.visited{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;text-decoration:none;text-align:left;color:#CBCFC9;}
.art-PostHeader a:hover, .art-PostHeader a.hovered{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;text-decoration:none;text-align:left;color:#C4C4C4;}
.art-PostHeaderIcons, .art-PostHeaderIcons a, .art-PostHeaderIcons a:link, .art-PostHeaderIcons a:visited, .art-PostHeaderIcons a:hover{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;color:#C0C5BE;}
.art-PostHeaderIcons a, .art-PostHeaderIcons a:link, .art-PostHeaderIcons a:visited, .art-PostHeaderIcons a:hover{margin:0;}
.art-PostHeaderIcons a:link{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;text-decoration:none;color:#A8A8A8;}
.art-PostHeaderIcons a:visited, .art-PostHeaderIcons a.visited{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-style:italic;font-weight:normal;text-decoration:none;color:#A6AEA3;}
.art-PostHeaderIcons a:hover, .art-PostHeaderIcons a.hover{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-style:italic;font-weight:normal;text-decoration:underline;color:#C4C4C4;}
body{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:13px;color:#D5D9D4;}
.art-PostContent{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;color:#D5D9D4;}
a{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;text-decoration:none;color:#C4C4C4;}
a:link{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;text-decoration:none;color:#C4C4C4;}
a:visited, a.visited{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;text-decoration:none;color:#869183;}
a:hover, a.hover{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;text-decoration:none;color:#C4C4C4;}
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited{font-weight:normal;font-style:normal;text-decoration:none;}
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:30pt;color:rgb(241, 236, 196); margin:0px 0px; padding:0px 0px;}
h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:24px;color:#C3C8C1;}
h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:19px;color:#C4C4C4;}
h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:16px;color:#EAECE9;}
h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:13px;color:#EAECE9;}
h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover{font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:11px;color:#EAECE9;}
ol, ul{color:#C0C5BE;margin:1em 0 1em 2em;padding:0;font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:13px;}
li{margin:0.2em 0;padding:0;}
ul{list-style-type:none;}
.art-button-wrapper.hover .art-button, .art-button:hover{color:#000000 !important;text-decoration:none !important;}
.art-Footer-Bar{position:relative;z-index:0;width:100%;background-repeat:repeat-x;background-color:#100903;}
.art-Bar-top{background-image:url('../images/Tab3.png');width:1024px;background-repeat:no-repeat;height:1px;float:none;clear:both; background-position:center;}
#.art-Bar-bottom{background-image:url('../images/Tab2.png');width:1024px;background-repeat:no-repeat;height:1px;float:none;clear:both; background-position:center;}
.art-Footer-menu{margin:0 auto;width:1024px;padding-left:0px;}
.art-Footer-outner{width:1024px;margin:0 auto;padding-top:15px;}
.art-Footer p{text-align:center;margin:0;color:rgb(32, 28, 28);font-size:12px;}
.art-Footer h1{color:#494637;font-family:'Century Gothic';font-size:10pt;}
.art-Footer{position:relative;z-index:0;overflow:hidden;width:1024px;margin:5px auto 10px auto;}
.bro-H3{color:rgb(175, 80, 10);font-family:'Century Gothic';font-size:18px;}
.bro-16P{color:rgb(251, 250, 216);font-family:'Century Gothic';font-size:14px;text-align:justify;}
.bro-20P{color: rgb(251, 250, 216); font-family: 'Century Gothic'; font-size: 12pt; line-height: 30px;}
.cen-H2{color:rgb(241, 236, 196);font-family:'Century Gothic';font-size:18pt;}
.cen-H3{color:rgb(241, 236, 196);font-family:'Century Gothic';font-size:20pt;}
.cen-12H3{color:rgb(145, 74, 36);font-family:'Century Gothic';font-size:12pt;font-weight:bold;}
.cen-16H3{color:rgb(241, 236, 196);font-family:'Century Gothic';font-size:16pt;}
.cen-10P{color:rgb(241, 236, 196);font-family:'Century Gothic';font-size:10pt;text-indent:25px;}
.cen-12P{color:rgb(241, 236, 196);font-family:'Century Gothic';font-size:12pt;text-indent:30px;text-align:justify;}
.cen-12{color:rgb(241, 236, 196);font-family:'Century Gothic';font-size:12pt;text-align:justify;}
.cen-14P{color:rgb(241, 236, 196);font-family:'Century Gothic';font-size:14pt;text-indent:25px;}
.cen-14P30L{color:rgb(241, 236, 196);font-family:'Century Gothic';font-size:14pt;line-height:30px;}
.cen-14P30I{color:rgb(241, 236, 196);font-family:'Century Gothic';font-size:14pt;line-height:30px;text-indent:30px;}
.cen-12PT{color:rgb(241, 236, 196);font-family:'Century Gothic';font-size:12pt;line-height:25px;text-align:justify;}
.cen-12PTN{color:#76cbf6;font-family:'Century Gothic';font-size:12pt;line-height:25px;text-align:right;}
.cen-10PTN{color:rgb(145, 74, 36);font-family:'Century Gothic';font-size:10pt;line-height:25px;text-align:right;}
.cen-14P40L{color:rgb(241, 236, 196);font-family:'Century Gothic';font-size:14pt;line-height:40px;}
.index-H1{color:#494637;font-family:'Century Gothic';font-size:10pt;}
.norm-H3{font-size:16px;font-weight:bold;color:rgb(126, 125, 109);}
.norm-P{margin:15px auto;font-size:12px;color:rgb(32, 28, 28);}
.shirt-Article p{color:#c4bc98;font-family:'Century Gothic';font-size:14px;text-indent:25px;text-align:justify;}
.shirt-Article p a,.shirt-Article p a:link,.shirt-Article p a:visited,.shirt-Article p a:hover{color:#c4bc98;font-family:'Century Gothic';font-size:14px;text-decoration:underline;}
.shirt-Article h1{color:#972a03;font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:30pt;}
.shirt-Article h2{color:#7d582e;font-family:'Century Gothic';font-size:18pt;}
.article-H3,.article-H3 a,.article-H3 a:link,.article-H3 a:visited,.article-H3 a:hover{color:#af9757;font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:22px;text-decoration:none;}
.meta{padding:3px 0px 5px 0px;line-height:normal;font-size:12pt;color:#4C4C4C;}
.meta a {color: #4C4C4C;}
.art-H2{color:#cc640f;font-family:'Century Gothic';font-size:20pt;}
.rmore{color:rgb(241, 236, 196);font-family:'Century Gothic';font-size:12pt;text-indent:30px;padding-left: 550px; text-align:left;}
.art-ul{list-style-image:url('../images/arrow.png');}
.p-link p a, p a:link, p a:visited{color:#c4bc98;font-family:'Century Gothic';font-size:14px;text-indent:25px;text-decoration:none;}
.p-link p a, p a:hover{color:#c4bc98;font-family:'Century Gothic';font-size:14px;text-indent:25px;text-decoration:underline;}
.fl-banner object{width:1024px;height:650px;background-color:#100903;}
#mission{background-image:url('../images/mission-1.jpg');width:1024px;background-repeat:no-repeat;height:650px;}
#delivery{background-image:url('../images/Delivery.jpg');width:1024px;background-repeat:no-repeat;height:780px;}
#review{background-image:url('../images/testimonial.jpg');width:1024px;background-repeat:repeat-y;height:inherit;}
#terms{background-image:url('../images/Team-condition.jpg');width:1024px;background-repeat:no-repeat;height:inherit;padding-bottom: 100px;}
#factory{background-image:url('../images/Our-Factory_01.jpg');width:1024px;background-repeat:no-repeat;height:auto;}
#quality{background-image:url('../images/Shirt-Quality_01.jpg');width:1024px;background-repeat:no-repeat;}
#article{background-image:url('../images/Article-Main.jpg');width:1024px;background-repeat:no-repeat;height:977px;}
#shirt{width:1024px;background-repeat:no-repeat;height:auto;}
#product{background-image:url('../images/Testimonial-2.jpg');width:1024px;background-repeat:no-repeat;height:1200px;}
.style1-mid{background-image:url('../images/Style1/Style1_02.png');width:411px; padding: 1px 40px 1px 25px;}
.style1-top{background-image:url('../images/Style1/Style1_01.png');background-repeat:no-repeat;height:30px;float:none;clear:both;width:476px;}
.style1-bottom{background-image:url('../images/Style1/Style1_04.png');background-repeat:no-repeat;height:30px;float:none;clear:both;width:476px;}
.style2-mid{background-image:url('../images/Style2/Style2_02.png');width:411px; padding: 1px 40px 1px 25px;}
.style2-top{background-image:url('../images/Style2/Style2_01.png');background-repeat:no-repeat;height:30px;float:none;clear:both;width:476px;}
.style2-bottom{background-image:url('../images/Style2/Style2_04.png');background-repeat:no-repeat;height:30px;float:none;clear:both;width:476px;}
.style3-mid{background-image:url('../images/Style3/Style3_02.png');width:411px; padding: 1px 40px 1px 25px;}
.style3-top{background-image:url('../images/Style3/Style3_01.png');background-repeat:no-repeat;height:30px;float:none;clear:both;width:476px;}
.style3-bottom{background-image:url('../images/Style3/Style3_04.png');background-repeat:no-repeat;height:30px;float:none;clear:both;width:476px;}
.style4-mid{background-image:url('../images/Style4/Style4_02.html');background-repeat:repeat-y;width:411px; padding: 1px 40px 1px 25px;}
.style4-top{background-image:url('../images/Style4/Style4_01.html');background-repeat:no-repeat;height:30px;float:none;clear:both;width:476px;}
.style4-bottom{background-image:url('../images/Style4/Style4_04.html');background-repeat:no-repeat;height:30px;float:none;clear:both;width:476px;}
.curr{color:#972a03;font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;font-size:30pt;}