[data-tab="measure"]{width: 85%;max-width: 1400px;margin: 50px auto;}
[data-tab="measure"] .FrmMeasure{display: inline-block;width: 100%}
[data-tab="measure"] .title{white-space: nowrap;width: 100%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;margin: 1% 0;overflow: hidden}
[data-tab="measure"] .main-title{font-size: 170%;text-transform: uppercase;text-align: center;letter-spacing: 1px;margin: 7% 0 4%;text-overflow: ellipsis;white-space: nowrap;}
/*mobile*/ [data-tab="measure"] .main-title.main-title-mobile , .layout-media-mobile{display: none}
[data-tab="measure"] .layout-button{margin-top: 1%}
[data-tab="measure"] [data-button='back']{padding: 10px 40px}

/*main*/
[data-tab="measure"] [data-measure="body"],
[data-tab="measure"] [data-measure="standard"]{background: rgba(0, 0, 0, 0.5);padding: 0 0 1%;border: 1px solid rgba(0,0,0,.5);border-top:none}
[data-tab="measure"] [data-measure="main"] [data-measuretype]{background: rgba(0, 0, 0, 0.5);border: 1px solid rgba(0, 0, 0, 0.3);border-radius: 5px;float: left;min-height: 385px;padding: 3%;width: 49%;cursor: pointer}
.mobile [data-tab="measure"] [data-measure="main"] [data-measuretype]{height: 330px}
[data-tab="measure"] [data-measure="main"] [data-measuretype]:hover{background: rgba(0, 0, 0, .7);}
[data-tab="measure"] [data-measure="main"] [data-measuretype]:first-child{margin-right: 2%;}
[data-tab="measure"] [data-measure="main"] [data-measuretype] h2{text-align: center;font-size: 125%;margin-bottom: 20px;text-transform: uppercase;text-overflow: ellipsis;overflow: hidden;white-space: nowrap}
[data-tab="measure"] [data-measure="main"] [data-measuretype] > div{text-indent: 1.5em;height: 150px}
[data-tab="measure"] [data-measure="main"] [data-measuretype] .layout-img{text-align: center;text-indent: 0;height: auto}
[data-tab="measure"] [data-measure="main"] .arrowDown {background: url("../../../itailor-data/webroot/img/icon/Arrow-down.png") no-repeat scroll center top rgba(0, 0, 0, 0);display: inline-block;height: 32px;vertical-align: middle;width: 23px;margin-bottom: 1%}
/*[data-tab="measure"] [data-measure="main"] [data-measuretype] .layout-img img{max-height: 50px}*/

[data-tab="measure"] .layout-measure-form{width: 95%;margin: auto}

[data-tab="measure"] .top-menu-measure{overflow: hidden;display: inline-block;width: 100%;margin-bottom: 1%;font-size: 120%}
[data-tab="measure"] .top-menu-measure li{float: left;width: 50%;text-align: center;padding: 1% 0;background: rgba(0, 0, 0, 0.89);cursor: pointer;height: 35px;font-weight: 600;letter-spacing: 2px;line-height: 25px;padding: 4px 0;text-transform: uppercase;white-space: nowrap}
[data-tab="measure"] .top-menu-measure li.active{background: rgb(4, 219, 220)}

[data-tab="measure"] .layout-media{ display: inline-block;overflow: hidden;width: 100%;}
[data-tab="measure"] .layout-media > div{border: 8px solid rgba(0, 0, 0, 0.5);display: inline-block;float: left;overflow: hidden;width: 47%;background: rgba(0,0,0,.8)}
[data-tab="measure"] .layout-media > div:first-child{margin-right: 5%;margin-bottom: 1%}
[data-tab="measure"] .layout-media img,[data-tab="measure"] .layout-media video{width: 100%}

[data-tab="measure"] .layout-input-size{width: 100%;margin: auto}
/*[data-tab="measure"] .layout-input-size p{margin: 5px 0;overflow: hidden}*/
/*[data-tab="measure"] .layout-input-size .table-size > div{background: rgba(0, 0, 0, 0.4);border: 1px solid rgba(255, 255, 255, 0.3);display: inline-block;margin: 5px 0;padding: 1%;text-align: center;width: 13.7%;text-align: center;letter-spacing: 1px;text-transform: uppercase;font-size: 80%}*/
[data-tab="measure"] .layout-input-size input{width: 100%;border: 1px solid rgba(255,255,255,.2);background: rgba(0,0,0,.5);padding: 8% 0;margin: 5px 0;color: #FFF;text-align: center;font-weight: bold;letter-spacing: 1px}
[data-tab="measure"] .layout-input-size input.error{border: 1px solid rgb(255, 0, 0);color: red;}
[data-tab="measure"] .layout-input-size .tag-unit{font-size: 85%}
[data-tab="measure"] .select-your-fit-radio{margin: 1% 5%}
.mobile [data-tab="measure"] .select-your-fit-radio{margin: 4% 3%}

[data-tab="measure"] [class^="recommend"]{text-transform: capitalize;text-align: center;height: 20px;font-size: 85%;letter-spacing: 1px}
[data-tab="measure"] [class^="recommend"] label{color: rgb(4, 219, 220);}

[data-tab="measure"] .layout-measure-form table{width: 100%;margin: 3% 0;border-collapse: collapse;text-align: center}
[data-tab="measure"] .layout-measure-form table tr:first-child{font-weight: bold;text-transform: uppercase;background: rgba(0,0,0,.2)}
[data-tab="measure"] .layout-measure-form table td{padding: 2% 1%;border: 1px solid rgba(255,255,255,.3);}
[data-tab="measure"] .layout-measure-form table td:first-child{font-weight: bold;text-transform: uppercase}
[data-tab="measure"] .layout-measure-form table tr:first-child td{padding: 1%}


/*suit*/
/*[data-tab="measure"][data-measureproduct="suit"] .layout-measure-form{width: 95%}*/
[data-tab="measure"][data-measureproduct="suit"] .title-product{margin: 1% 0;white-space: nowrap;text-overflow: ellipsis;overflow: hidden}
[data-tab="measure"][data-measureproduct="suit"] .title-product > span:first-child{color: rgb(4, 219, 220);font-weight: bold;}
[data-tab="measure"][data-measureproduct="suit"] .title-product > span:first-child:after{content: " : "}
/*[data-tab="measure"] .layout-input-size{width: 70%;float: left}*/
[data-tab="measure"] .table-size{margin: 1% 0 1%}
[data-tab="measure"] .table-size li{background: rgba(0, 0, 0, 0.4);border: 1px solid rgba(255, 255, 255, 0.2);display: inline-block;margin: 0 0.5%;padding: 1%;text-align: center;width: 14.5%;text-align: center;letter-spacing: 1px;text-transform: uppercase;font-size: 70%;overflow: hidden;}
/*[data-tab="measure"][data-measureproduct="suit"] .table-size li.border-none{background: rgba(0, 0, 0, 0);border: 1px solid rgba(255, 255, 255, 0);}*/
[data-tab="measure"] .table-size li.border-none input{background: rgba(0, 0, 0, 0);border: 1px solid rgba(255, 255, 255, 0);color: rgb(4, 219, 220)}
/*[data-tab="measure"][data-measureproduct="suit"] .layout-media{width: 30%;float: left}*/
[data-tab="measure"] .layout-media > div{width: 100%;}
[data-tab="measure"][data-measureproduct="suit"] .layout-fit{max-width: 400px;text-align: center;width: 50%;min-width: 350px}
.mobile [data-tab="measure"][data-measureproduct="suit"] .layout-fit{max-width: 400px;text-align: center;width: 100%!important;min-width: 1px}
[data-tab="measure"][data-measureproduct="suit"] .layout-fit label{font-size: 100%;margin: 5% 0}
[data-tab="measure"][data-measureproduct="suit"] .measure-standard-des{color: rgb(255, 165, 0);font-size: 80%;margin: 3% 0}


[data-tab="measure"] form.column-1 .layout-media{width: 70%}
[data-tab="measure"] form.column-1  .layout-input-size{width: 90%}
.mobile [data-tab="measure"] form.column-1  .layout-input-size{width: 100%}
.mobile [data-tab="measure"] form.column-2  .layout-input-size{width: 100%}
[data-tab="measure"] form.column-1 .layout-media >div{width: 47%}
[data-tab="measure"] form.column-2  .layout-input-size{width: 90%}
[data-tab="measure"] form.column-2 .layout-input-size{width: 65%;float: left}
[data-tab="measure"] form.column-2 .layout-media{width: 35%;float: left}
[data-product="shirt"] [data-tab="measure"] .table-size li{width:12.5%}






/*mobile suit*/
/*.mobile [data-tab="measure"] [data-measure="body"], .mobile [data-tab="measure"] [data-measure="standard"]{background: none;}*/
/*.mobile [data-tab="measure"][data-measureproduct="suit"] .layout-input-size{width: 100%}*/
.mobile [data-tab="measure"][data-measureproduct="suit"] .table-size li{width: 22%;padding: 0;margin: 2% 1%}
.mobile [data-tab="measure"][data-measureproduct="suit"] .table-size li p:first-child{border-bottom: 1px solid rgba(255,255,255,.3);padding: 5%;font-size: 90%}
.mobile [data-tab="measure"][data-measureproduct="suit"] .table-size li .tag-unit{display: none}
.mobile [data-tab="measure"][data-measureproduct="suit"] .table-size li.border-none{border: rgba(0,0,0,0);background: rgba(255, 255, 255, 0.04);border: none}
.mobile [data-tab="measure"][data-measureproduct="suit"] .table-size li.border-none p{border: rgba(0,0,0,0);}

/*.mobile .toolbar nav, .content, [data-tab="measure"]{width: 100%}*/
.mobile [data-tab="measure"] .main-title{display: none}
.mobile [data-tab="measure"] .main-title-mobile{font-size: 110%;display: block}
.mobile [data-tab="measure"] .main-title-mobile h1:first-child{font-size: 130%;}
/*.mobile [data-tab="measure"] .layout-measure-form{width: 100%}*/
.mobile [data-tab="measure"] [data-measure="main"] [data-measuretype] h2{font-size: 110%}
.mobile [data-tab="measure"] [data-measure="main"] [data-measuretype] > div{font-size: 80%}
.mobile [data-tab="measure"] .layout-measure-form{margin: auto;width: 98%;}
.mobile [data-tab="measure"] .top-menu-measure{font-size: 85%}
.mobile [data-tab="measure"] .layout-input-size .table-size{background: rgba(0, 0, 0, 0.7);padding: 1%}
.mobile [data-tab="measure"] .layout-input-size .table-size > li{padding: 0 0 2%;margin: 2% 0;width: 24%}
.mobile [data-product="shirt"] [data-tab="measure"] .table-size li{width:23%}
.mobile [data-tab="measure"] .layout-input-size .table-size span{border-bottom: 1px solid rgba(255, 255, 255, 0.3);display: inline-block;width: 100%;padding: 5% 0}
.mobile [data-tab="measure"] .layout-input-size input{border: none;background: rgba(0,0,0,0);font-size: 170%}
.mobile [data-tab="measure"] .layout-media{display: none}
.mobile [data-tab="measure"] .layout-media-mobile{display: block;text-align: center}
.mobile [data-tab="measure"] .layout-media-mobile img{width: 100%;max-width: 300px;border: 8px solid rgba(0,0,0,.5)}
.mobile [data-tab="measure"] .layout-measure-form table{font-size: 85%}