@media only screen and (max-width: 1024px) /*and (max-height:768px) and (orientation : landscape)*/ {
    .toolbar nav, .content, [data-tab="measure"]{width: 98%}
    .layout-option-main-body .layout-option-item{width: 260px}
    .layout-option-main-body .layout-option-item .list-item li {margin: 4% 2.8% 0;width: 27%;}
    .layout-option-main-body .layout-option-item .list-item [data-type="button"] li {width: 19%;}
    .layout-option-main-body .layout-option-item .list-item [data-type="thread"] li, .layout-option-main-body [data-itemlist="monogram"] .list-item li {margin: 2% 2.3%;max-width: 60px;width: 12%;}
    .layout-option-main-body .layout-monogram-list input[type="radio"] + label {font-size: 70%;}
    .layout-option-main-body .layout-monogram-list input[type="radio"] + label:before {height: 14px;width: 14px;}
}
@media only screen and (max-width: 768px){
    .layout-option-nav li:not(:last-child):after {left: 55%;top: 22%;width: 105%;}
    .layout-option-nav ul {margin: 2px 0;}
    .layout-option-main-body .option-switch-selected [data-switch] {line-height: 27px;}
    .layout-option-main-body .layout-monogram-list input[type="radio"] + label {font-size: 100%;}
    .layout-option-nav li p {font-size: 59%;}
    .MayaDropDown {min-width: 65px;}
}
.mobile .layout-selected, .mobile .layout-option-switch-selected, .mobile .layout-option-main-body .layout-option-price > div:first-child{display: none !important}
.mobile .layout-option-main-body .layout-option-view {left: 0;top: 60px;width: 100px;}
.mobile .layout-option-main-body .layout-option-view li {width: 45px;}
.mobile .layout-option-main-body .layout-option-price {font-size: 60%;right: 2%;top: 55px;width: 100px;letter-spacing:0}

@media only screen and (max-width: 320px){
    li.layout-fit{width: 100% !important}
}