::-moz-selection,::-webkit-selection,::selection {background:none}
.border{border: 1px solid rgba(255,255,255,.2)}

/*------------------------------------------
 * column
 *------------------------------------------*/
[class^='column-']{overflow: hidden}
.column-2 > .column,.column-3 > .column,.column-4 > .column{float: left;display: inline-block;}
.column-2 > .column{width: 50%}
.column-3 > .column{width: 33.33%}
.column-4 > .column{width: 25%}

html,body{overflow: hidden;}
html{background-position: center center;background-size:cover;font-family: ProximaNova;background-attachment: fixed;font-size: 100%}

/*theme*/
body[data-theme="1"]{background: url("../../../images/Models/idesign/Background/1.jpg");background-repeat: no-repeat;background-attachment: fixed;background-position: center center;background-color: #000;background-size:cover;}
body[data-theme="2"]{background: url("../../../images/Models/idesign/Background/2.jpg");background-repeat: no-repeat;background-attachment: fixed;background-position: center center;background-color: #000;background-size:cover;}
body[data-theme="3"]{background: url("../../../images/Models/idesign/Background/3.jpg");background-repeat: no-repeat;background-attachment: fixed;background-position: center center;background-color: #000;background-size:cover;}
body[data-theme="4"]{background: url("../../../images/Models/idesign/Background/4.jpg");background-repeat: no-repeat;background-attachment: fixed;background-position: center center;background-color: #000;background-size:cover;}
body[data-theme="5"]{background: url("../../../images/Models/idesign/Background/5.jpg");background-repeat: no-repeat;background-attachment: fixed;background-position: center center;background-color: #000;background-size:cover;}
body[data-theme="6"]{background: url("../../../images/Models/idesign/Background/6.html");background-repeat: no-repeat;background-attachment: fixed;background-position: center center;background-color: #000;background-size:cover;}
body[data-theme="7"]{background: url("../../../images/Models/idesign/Background/7.html");background-repeat: no-repeat;background-attachment: fixed;background-position: center center;background-color: #000;background-size:cover;}
body[data-theme="8"]{background: url("../../../images/Models/idesign/Background/8.html");background-repeat: no-repeat;background-attachment: fixed;background-position: center center;background-color: #000;background-size:cover;}
body[data-theme="9"]{background: url("../../../images/Models/idesign/Background/9.html");background-repeat: no-repeat;background-attachment: fixed;background-position: center center;background-color: #000;background-size:cover;}
body[data-theme="10"]{background: url("../../../images/Models/idesign/Background/10.html");background-repeat: no-repeat;background-attachment: fixed;background-position: center center;background-color: #000;background-size:cover;}

html,a{color: rgba(255, 255, 255, 1);}
a:hover{color: rgba(255,255,255,.8)}
.icon-arrow{background: url("../../../itailor-data/webroot/img/icon/Arrow-2.png");background-repeat: no-repeat;background-size: 100% 100%,cover;display: inline-block;height: 14px;margin: auto 5px auto auto;width: 18px;vertical-align: middle;}
.toolbar nav,.content{margin: auto;width: 80%;max-width: 1400px;}

/*toolbar*/
.toolbar{height: 37px;width: 100%;background: rgba(0,0,0,.9);position: fixed;top:0;left: 0;text-transform: uppercase;z-index: 99;white-space: nowrap;}
.toolbar ul{width: 50%}
.toolbar ul:first-child{float: left}
.toolbar ul:last-child{float: right;text-align: right}
.toolbar li{position: relative;padding: 0 2%;display: inline;line-height: 37px;}
.toolbar li:not(:first-child):after{position: absolute;width: 1px;height: 70%;background: rgba(255,255,255,.5);left: 0;top:0;bottom: 0;margin: auto;content: ""}
.toolbar .icon-cart-small{background: url("../img/icon/icon-shopping.png") no-repeat;background-size: 100% 100%;display: inline-block;height: 15px;margin: 0 5px 0 0;position: relative;vertical-align: sub;width: 15px;}
.toolbar #create-your-own a{font-weight: bold;color: #6FF}
.mobile .toolbar{background: none}

.content{min-height: 500px}
.layout-toolbar-small{height: 45px;display: none}
.icon-tab-menu{display: inline-block;margin: 4px 5px;width: 30px;cursor: pointer; float: left;}
.icon-tab-menu > div{background:rgb(255, 255, 255);height: 5px;margin: 15% 0;padding: 0;width: 100%;}
.layout-toolbar-small .icon-cart-small{background: url("../img/icon/icon-shopping-cart.png");background-repeat: no-repeat;background-size: 100% 100%,cover;display: inline-block;float: right;height: 30px;margin: 5px 10px;position: relative;width: 30px;cursor: pointer}

/*layout-menu-slide*/
.layout-menu-slide{text-transform: capitalize;position: fixed;top:0;left: 0;height: 100%;width: 100%;max-width:300px;background: rgba(0,0,0,1);z-index: 500;padding: .5% .2%;transition: all .3s ease;-webkit-transition: all .3s ease;transform: translate3d(-100%,0,0);-webkit-transform: translate3d(-100%,0,0)}
.layout-menu-slide.active{transform: translate3d(0,0,0);-webkit-transform: translate3d(0,0,0)}
.layout-menu-slide li{padding: 15px 10px;border-bottom: 1px solid rgba(255,255,255,.1);position: relative}
.layout-menu-slide .slide-main > li.more:after{content: "▼";position: absolute;right: 18px;top: 14px;cursor: pointer}
.layout-menu-slide .slide-main > li.more.active:after{content: "▲"}
.layout-menu-slide .slide-main > li.main{background: rgba(255,255,255,.05)}
.layout-menu-slide .layout-menu-slide-box{overflow: auto;height: 250px;margin: 1% 0}
.layout-menu-slide .sub-slide-main{padding-top: 5px;display: none}
.layout-menu-slide .language-str{width: 90px;display: inline-block}
.layout-menu-slide .sub-slide-main li:last-child{border-color: rgba(255,255,255,0);padding-bottom: 0;}
.layout-menu-slide .dropDown,.layout-menu-slide .dropDown .list{width: 35px;z-index: 9;text-indent: 3%;}
.layout-menu-slide .dropDown .list ul{background: #000}
.layout-menu-slide .dropDown li{border: none;padding: 5px 0;}
.layout-menu-slide .icon-tab-menu{position: absolute;right: 2%;top:1%;z-index: 99}

.layout-menu-slide .icon-social{text-align: center;margin-top: 5%}
.layout-menu-slide .icon-social > li{display: inline-block;width: 30px;height: 30px;background: rgba(255,255,255,.3);background: url(../img/icon/social.png);background-repeat: no-repeat;background-size: auto 30px;margin-right: .5%;cursor: pointer}
.layout-menu-slide .icon-social > li.facebook {background-position: 0 0;}
.layout-menu-slide .icon-social > li.twitter {background-position: -37px 0;}
.layout-menu-slide .icon-social > li.google {background-position: -74px 0;}
.layout-menu-slide .icon-social > li.instagram {background-position: -111px 0;}
.layout-menu-slide .icon-social > li.youtube {background-position: -147px 0;}
.layout-menu-slide .icon-social > li.pinterest {background-position: -183px 0;}
.layout-menu-slide .icon-social > li.linkin {background-position: -220px 0;}
.layout-menu-slide .icon-paypal {color: rgba(255, 255, 255, 0.7);font-size: 60%;letter-spacing: 1px;margin-top: 8%;text-align: center;text-transform: uppercase;}
.layout-menu-slide .icon-paypal img{width: 70%}

.content{position: relative;}
.layout-background-select{position: fixed;width: 100%;height: 100%;left: 0;top:0;background: rgba(0,0,0,.7);z-index: 40;opacity: 1;transition: opacity .5s ease-in-out;-webkit-transition: opacity .5s ease-in-out;}
.layout-background-select.hidden{opacity: 0;}
.arrow-down{font-size: 142%;transform: rotate(-90deg) scale(1,2.5);-webkit-transform: rotate(-90deg) scale(1,2.5);font-weight: 100;display: inline-block;cursor: pointer;color: rgb(197, 255, 163)}
.arrow-up{transform: rotate(90deg) scale(1,2.5);-webkit-transform: rotate(90deg) scale(1,2.5);}

/*html{height: 200px !important;}*/
.layout-main-body{width: 100%;overflow: hidden;text-align: center;}
.layout-main-body-view li{overflow: hidden}
.layout-main-body-view li:last-child{display: none}
.layout-main-body-view img{height: 100%;position: absolute;left: 0;right: 0;top:0;margin: auto}
.portrait .layout-main-body-view img{max-width: max-content}
/*.portrait .layout-main-body-view img{height: auto;width: 100%;max-width: 650px}*/

/*layout-selected*/
.layout-selected{position: absolute;width: 30%;height: 100%;top: 0;left: 0;z-index: 50;right: 0;margin: auto;opacity: 0;visibility: hidden}
.layout-selected .icon-select{border: 2px solid rgba(255,255,255,.8);height: 30px;width: 30px;border-radius: 50%;top: 30%;left: 65%;background: rgba(0,0,0,.5);position: absolute;display: inline-block;cursor: pointer}
.layout-selected .icon-select{transform: scale(0);transition: transform .3s ease}
.layout-selected li:last-child{display: none}
.layout-selected .icon-select:after{position: absolute;content: "+";text-align: center;font-size: 200%;left: 0;right: 0;top:0;bottom: 0;margin: auto;line-height: 27px;}
.layout-selected .icon-select .detail{color: #fff;display: inline-block;font-size: 88%;letter-spacing: 1px;margin: auto;position: absolute;right: 0;text-align: center;text-transform: uppercase;top: -30px;white-space: nowrap;width: 200px;left: -85px;}.layout-selected .icon-select .detail span{ background: rgba(0, 0, 0, 0.5);display: inline-block; padding: 0.8% 4.5%; font-size: 93%;}
.layout-selected.active{opacity: 1;visibility: visible}
.layout-selected.active .icon-select{transform: scale(1);}
.layout-selected .icon-select.active{/*height: 50px;width: 50px;*/background: rgba(69, 182, 14, 0.87)}
.mobile .layout-selected .icon-select .detail{display: none}

/*layout-option-main-body*/
.layout-option-main-body{position: absolute;width: 100%;height: 100%;left: 0;top:0;overflow: hidden;/* z-index: 999; */}
.layout-option-main-body .icon-itailor , .layout-option-main-body .layout-option-price,.layout-option-main-body .layout-option-view{position: absolute;top: 46px;}
.layout-option-main-body .icon-itailor{font-family: Century-Regular}
.layout-option-main-body .icon-itailor{left: 0;text-align: center;letter-spacing: 3px;font-weight: normal}
.layout-option-main-body .icon-itailor p:first-child{font-size: 350%;/* font-weight: normal; */}
.layout-option-main-body .icon-itailor p:last-child{font-size: 90%;color: #a9eef3}

.layout-option-main-body .layout-option-switch-selected{display: inline-block;position: absolute;right: 96px;top: 192px;cursor: pointer;z-index: 62}
.layout-option-main-body .option-switch-selected{display: inline-block;width: 63px;height: 24px;border-radius: 15px;background: rgba(0,0,0,.8);overflow: hidden;line-height: 30px;padding: 0 15%;text-align: left;position: relative}
.layout-option-main-body .option-switch-selected:after{border-radius: 50%;height: 20px;width: 20px;position: absolute;content: "";background: rgba(255,255,255,.8);right: 0;top:0;bottom: 0;margin: auto;left: -40px;transition: left .3s ease;-webkit-transition: left .3s ease}
.layout-option-main-body .option-switch-selected.active:after{left: 40px}
.layout-option-main-body .option-switch-selected [data-switch]{color:rgba(156, 246, 253, 0.7);display: none;text-transform: uppercase;line-height: 24px;vertical-align: middle;}
.layout-option-main-body .option-switch-selected [data-switch="off"]{display: block;text-align: right}
.layout-option-main-body .option-switch-selected.active [data-switch="on"]{display: block}
.mobile .layout-option-main-body .layout-option-switch-selected{top:180px;right: 100px}
.mobile .layout-option-main-body .option-switch-selected{ height: 20px;line-height: 20px;width: 50px;}
.mobile .layout-option-main-body .option-switch-selected:after{height: 20px;width: 20px;}
.mobile .layout-option-main-body .option-switch-selected:after{left: -32px}
.mobile .layout-option-main-body .option-switch-selected.active:after {left: 30px;}
.mobile .layout-option-main-body .option-switch-selected [data-switch] {font-size: 90%;}

.layout-option-main-body .layout-option-price{position: absolute;width: 250px;height: 80px;text-align: center;right:0;font-weight: bold;top: 70px;letter-spacing: 1px;font-family: Century-Gothic-Bold}
.layout-option-main-body .layout-option-price p:first-child{letter-spacing: 1px;font-size: 95%;}
.layout-option-main-body .layout-option-price .price-str{color: #ff8500;font-size: 230%;font-style: normal;font-weight: bold;margin-top: 5%;text-shadow: 0px 0px 8px rgb(0, 0, 0)}
.layout-option-main-body .layout-option-price:after{position: absolute;left: 0;right: 0;margin: auto;top:0;bottom: 0;height: 90%;/* border: 2px dashed rgba(255,255,255,.8); */width: 100%;content: "";border-left: none;border-right: none}

.layout-option-main-body .layout-option-view{text-align: center;top:250px;right: 2.79%;width: 193px;}
.layout-option-main-body .layout-option-view li{display: inline-block;width: 75px;border: 2px solid rgba(255,255,255,.2);cursor: pointer;box-shadow: 0 0 5px #000;background: rgba(0,0,0,.4);}
.layout-option-main-body .layout-option-view li img{width: 100%;float: left}

.icon-fabric-info {background-image: url("../img/icon/info.png");background-repeat: no-repeat;background-size: 100% auto, cover;height: 59px;left: 90%;position: absolute;top: 380px;width: 30px;cursor: pointer;z-index: 99}
.mobile .icon-fabric-info {left: 1%;top:140px}

.layout-option-main-body .layout-option-item{width: 310px;background: rgba(0, 0, 0, 0.43);color: rgba(255, 255, 255, 0.9);margin-top: 160px;left: 0;border: 1px solid rgba(0,0,0,.2);padding: .5%;position: relative;opacity: 0;transition: opacity .5s ease;-webkit-transition: opacity .5s ease;z-index: 100;}
.layout-option-main-body .layout-option-item .arrow-item-list{display: none;font-size: 220%}
.layout-option-main-body .layout-option-item .layout-option-item-box-list{overflow: hidden}
.layout-option-main-body .layout-option-item .layout-option-item-box-list >li{display: none;}
.layout-option-main-body .layout-option-item .layout-option-item-box-list >li.active{display: block}
.layout-option-main-body .layout-option-item .layout-slide-button-thread{transition: transform .3s ease;-webkit-transition:all .3s ease;}
.layout-option-main-body .layout-option-item .layout-slide-button-thread.active{transform: translate3d(0,-51%,0);-webkit-transform:translate3d(0,-51%,0);}
.layout-option-main-body .layout-option-item.active{opacity: 1}

.mobile .layout-option-main-body .layout-option-item .close{right: 1%;top:3%;}
.layout-option-main-body .layout-option-item .title{color: rgb(255, 255, 255);font-size: 105%;margin: 1% auto 2%;overflow: hidden;text-align: center;text-overflow: ellipsis;text-transform: capitalize;white-space: nowrap;width: 80%;font-weight: 500;letter-spacing: .5px}
.layout-option-main-body .layout-option-item .title span:first-child{font-size: 90%}
.layout-option-main-body .layout-option-item .title-item{margin: 2% 0 0;text-align: center;text-transform: uppercase;color: #fff;font-size: 95%}
.layout-option-main-body .layout-option-item .title-item span:first-child{font-weight: bold}
.layout-option-main-body .layout-option-item .list-item{height: 340px;overflow-y: auto;text-align: center;margin-bottom: 4%;background: rgba(0, 0, 0, 0.59);}
.layout-option-main-body .layout-option-item [data-itemlist="monogram"] .layout-monogram{overflow: auto;}
.layout-option-main-body .layout-option-item [data-itemlist="monogram"] .list-item{height: auto;overflow: hidden}
.layout-option-main-body .layout-option-item .list-item li{display: inline-block;width: 21%;min-height: 50px;max-width: 75px;margin: 2%;position: relative;cursor: pointer;transition: transform .5s ease;-weblit-transition: all .5s ease;}
.layout-option-main-body .layout-option-item .list-item li.loading{transform: scale(0);-webkit-transform: scale(0);opacity: 0}
.layout-option-main-body .layout-option-item .list-item [data-type="mix"] li:after , 
.layout-option-main-body .layout-option-item .list-item [data-type="lining"] li:after , 
.layout-option-main-body .layout-option-item .list-item [data-type="piping"] li:after , 
.layout-option-main-body .layout-option-item .list-item [data-type="main"] li:after{position: absolute;width: 40px;height: 40px;line-height: 40px;font-size: 280%;font-weight: normal;overflow: hidden;content: "+";overflow: hidden;border: 1px solid rgba(255,255,255,.8);border-radius: 50%;top:0;left: 0;bottom: 0;right: 0;margin: auto;text-align: center;opacity: 0;transform: scale(0);-webkit-transform: scale(0);transition: all .5s ease;-webkit-transition: all .5s ease;background:rgba(0, 0, 0, 0.5);}
.layout-option-main-body .layout-option-item .list-item [data-type="main"] li.active:after , 
.layout-option-main-body .layout-option-item .list-item [data-type="lining"] li.active:after , 
.layout-option-main-body .layout-option-item .list-item [data-type="piping"] li.active:after , 
.layout-option-main-body .layout-option-item .list-item [data-type="mix"] li.active:after{transform: scale(1);-webkit-transform: scale(1);opacity: 1}
.layout-option-main-body .layout-option-item .list-item li:hover{transform: scale(1.2);z-index: 99}
.layout-option-main-body .layout-option-item .list-item [data-type="main"] li , 
.layout-option-main-body .layout-option-item .list-item [data-type="lining"] li , 
.layout-option-main-body .layout-option-item .list-item [data-type="mix"] li{border: 1px solid rgba(255, 255, 255, 0.8)}
.layout-option-main-body .layout-option-item .list-item [data-type="thread"] li , 
.layout-option-main-body [data-itemlist="monogram"] .list-item li{width: 10%;margin: 1%;}
.layout-option-main-body .layout-option-item .list-item [data-type="button"] li{width: 16%;max-width: 60px}
.layout-option-main-body .layout-option-item .list-item img{width: 100%;float: left}
.layout-option-main-body .layout-option-item .list-item [data-type="button"] li:before , 
.layout-option-main-body .layout-option-item .list-item [data-type="thread"] li:before, 
.layout-option-main-body .layout-option-item .list-item [data-type="monogram"] li:before{content: "";position: absolute;width: 25px;height: 25px;background: url(../img/icon/check.png);background-size: 100% 100%,cover;right: 0;bottom: 0;margin: auto;transform: scale(0);-webkit-transform: scale(0);transition: transform .2s ease;-webkit-transition: transform .2s ease}
.layout-option-main-body .layout-option-item .list-item [data-type="button"] li.active:before , 
.layout-option-main-body .layout-option-item .list-item [data-type="thread"] li.active:before, 
.layout-option-main-body .layout-option-item .list-item [data-type="monogram"] li.active:before{transform: scale(1);-webkit-transform: scale(1)}

.layout-option-main-body .layout-monogram-list{background: rgba(0, 0, 0, 0.59);}
.layout-option-main-body .layout-monogram-list li{width: 49%;display: inline-block;text-transform: uppercase;margin: 10px 0;}
input[type="radio"]{display: none}
input[type="radio"]+label{cursor: pointer;display: inline-block;height: 20px;line-height: 20px;vertical-align: middle;margin-right: 2%;white-space: nowrap;font-size: 80%}
.mobile input[type="radio"]+label{font-size: 100%}
input[type="radio"]+label:before{background:rgba(255, 255, 255, 0.2);border: 1px solid #fff;border-radius: 50%;content: "";display: inline-block;height: 16px;margin: 0 10px;vertical-align: middle;width: 16px;}
input[type="radio"]:checked + label:before{background: rgb(45, 109, 246);}
input[type="checkbox"]{display: none}
input[type="checkbox"]+label{cursor: pointer;display: inline-block;height: 20px;line-height: 15px;vertical-align: middle;margin-right: 2%;position: relative}
input[type="checkbox"]+label:before{background:rgba(255, 255, 255, 0.2);border: 1px solid #fff;content: "";display: inline-block;height: 20px;margin: 0 10px;vertical-align: middle;width: 20px;}
input[type="checkbox"]:checked + label:after{background-image: url("../img/icon/check.png");background-size: 100% 100%, cover;content: "";height: 30px;left: 10px;margin: auto;position: absolute;top: -10px;width: 30px;z-index: 99;}
.layout-option-main-body #layout-box-monogram{overflow: hidden}
.layout-option-main-body #layout-box-monogram > div{transform: translateY(-100%);-webkit-transform: translateY(-100%);opacity: 0;transition: all .5s ease;-webkit-transition: all .5s ease}
.layout-option-main-body #layout-box-monogram.active > div{transform: translateY(0%);-webkit-transform: translateY(0%);opacity: 1}
.input-border-color{background:rgba(0, 0, 0, 0.2);border: 1px solid rgba(255, 255, 255, 0.2);color: rgba(255, 255, 255, 0.8);font-size: 100%;font-style: oblique;font-weight: normal;margin-top: 5%;padding: 8px 2px;text-align: center;width: 90%;background-image: url(../../../itailor-data/webroot/img/bg/border-color-colorful.png);background-size: 100% 100%,cover;max-width: 350px;letter-spacing: 1px}

.layout-option-main-body .layout-option-item  #monogram-input::-webkit-input-placeholder {font-size: 78%;font-weight: normal;letter-spacing: 1px;}
.layout-option-main-body .layout-option-item  #monogram-input:-moz-placeholder {font-size: 78%;font-weight: normal;letter-spacing: 1px;}
.layout-option-main-body .layout-option-item  #monogram-input::-moz-placeholder {font-size: 78%;font-weight: normal;letter-spacing: 1px;}
.layout-option-main-body .layout-option-item  #monogram-input:-ms-input-placeholder {font-size: 78%;font-weight: normal;letter-spacing: 1px;}
.layout-option-main-body .layout-button{margin-top: 5%}
.layout-option-main-body .layout-button [data-button="back"], .layout-option-main-body .layout-button [data-button="next"]{padding: 2% 12%}
.layout-option-main-body .layout-button [data-lang="measurements"]{padding:2% 8%}
.english-script-only{font-size: 80%;padding:5px 0 15px;margin: 0 !important; text-transform: capitalize !important;}

.mobile .layout-option-item{display: none}

.layout-button{clear:both;width: 100%;margin: auto;/* margin-top: 27px; */z-index: 60;display: inline-block}
.layout-button [class^="button"]{display: inline-block;background: rgba(0, 0, 0, 0.82);padding:10px 15px;font-weight: 500;font-size: 95%;cursor: pointer;white-space: nowrap;overflow: hidden;transition: background 1s ease-out;letter-spacing: 1.5px;text-transform: capitalize}
.layout-button [class^="button"]:hover{background: rgba(94, 94, 94, 0.72);}
.layout-button [data-tab='design'] .button:first-child{visibility: hidden}
.layout-button .button-primary{background: rgba(0, 236, 255, 0.59);text-transform: uppercase}
.layout-button .button-success{background: #39a724}
.layout-button .button-info{}
.layout-button .button-primary:hover{background: rgba(82, 249, 0, 0.59)}
.layout-button .button-success:hover{background: rgba(0, 236, 255, 0.59);}

.layout-option-nav{height: 94px;position: fixed;bottom: -49px;min-width: 400px;margin: auto;left: 0;right: 0;background: rgba(5, 5, 5, 0.67);text-align: center;text-transform: uppercase;padding:0 0 5px;z-index: 300;transition: bottom .2s ease-in;-webkit-transition: bottom .2s ease-in;width: 31%;}
.layout-option-nav .arrow-down{transform: rotate(90deg) scale(1,2.5);-webkit-transform: rotate(90deg) scale(1,2.5);}
.layout-option-nav.active{bottom: 0px;}
.layout-option-nav.active .arrow-down{bottom: 0px;transform: rotate(-90deg) scale(1,2.5);font-size: 140%;-webkit-transform: rotate(-90deg) scale(1,2.5);}
.layout-option-nav .title{font-size: 91%;letter-spacing: 2px;/* font-weight: 500; */margin: 0 0 0%;}
.layout-option-nav ul{margin: 5px 0 0}
.layout-option-nav li{display: inline-block;text-align: center;margin: 0 1%;position: relative;width: 14%;color: rgba(255,255,255,.5);cursor: pointer}
.layout-option-nav li p{/* font-weight: bold; */margin: 7px 0 0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 65%;color: #fff;}
.layout-option-nav li:before{content: "";width: 15px;height: 15px;display: inline-block;border: 1px solid rgba(255,255,255,0.7);border-radius: 50%;background: rgba(0,0,0,1);}
.layout-option-nav li.activeed{color: rgba(255,255,255,.5)}
.layout-option-nav li.activeed:before , .layout-option-nav li:hover:before{background:  rgba(255, 255, 255, 0.8)}
.layout-option-nav li.active:before{background: rgba(82, 249, 0, 0.59)}
.layout-option-nav li:not(:last-child):after{content: "";width: 99%;position: absolute;right: 0;top: 17%;height: 1px;background: rgba(255, 255, 255, 0.35);left: 57%;margin: auto}
.mobile .layout-option-nav{display: none}

#layout-menu-buttom{position: fixed;width: 100%;height: 410px;left: 0;bottom: 0;display: none;transform: translate3d(0,100%,0);transition: transform .5s ease;-webkit-transform: translate3d(0,100%,0);-webkit-transition: all .5s ease;z-index: 65}
#layout-menu-buttom.active{transform: translate3d(0,0,0);-webkit-transform: translate3d(0,0,0);}
.mobile #layout-menu-buttom{display: block}
#layout-menu-buttom [class^="tab"]{/*display: none;*/bottom: 88px;position: absolute;width: 479px;overflow: hidden;}
#layout-menu-buttom [class^="tab"].active{display: block;z-index: 5;}
#layout-menu-buttom [class^="tab"] > div{transform: translateY(200%);-webkit-transform: translateY(200%);}
#layout-menu-buttom [class^="tab"] > div{transition: transform .3s ease , opacity .2s ease;-webkit-transition: all .3s ease;min-height: 120px;opacity: 0}
#layout-menu-buttom [class^="tab"].active > div{transform: translateY(0);-webkit-transform: translateY(0);opacity: 1}
/*#layout-menu-buttom .tab-2 .close-arrow{top: -19px;}*/
#layout-menu-buttom h1{text-align: center;margin: 5px auto 0;padding:0;text-transform: uppercase;font-size: 90%;width: 90%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
#layout-menu-buttom p{font-size: 79%;margin-bottom: 3%;overflow: hidden;text-overflow: ellipsis;text-transform: uppercase;white-space: nowrap;}
#layout-menu-buttom #layout-menu-buttom-main,
#layout-menu-buttom .layout-menu-buttom-sub-main,
#layout-menu-buttom .layout-menu-buttom-sub-main > div{bottom: 0;height: 88px;left: 0;position: absolute;width: 100%;padding-top: 10px}
#layout-menu-buttom .layout-menu-buttom-sub-main,
#layout-menu-buttom .layout-menu-buttom-sub-main > div{height: 95px;padding: 0;}
#layout-menu-buttom #layout-menu-buttom-main{overflow: hidden;z-index: 10;font-size: 90%;}
#layout-menu-buttom ul li{cursor: pointer;float: left;font-size: 80%;margin: 0 1px;position: relative;text-align: center;border-radius: 5px;}
#layout-menu-buttom #layout-menu-buttom-main ul{margin: auto}
#layout-menu-buttom #layout-menu-buttom-main ul li{padding: 3px 7px;width: 70px;background: rgba(0, 0, 0, 0.75);height: 80px}
#layout-menu-buttom #layout-menu-buttom-main ul li[data-type="measure"] img{padding: 4% 0}
#layout-menu-buttom ul li > div{display: inline-block;width: 100%;transition: all .5s ease;-webkit-transition: all .5s ease;}
#layout-menu-buttom ul li > div.loading{transform: scale(0);-webkit-transform: scale(0);opacity: 0}
#layout-menu-buttom ul li img{display: inline-block;margin: 3px 3px 0;width: 93%;max-width: 70px;display: inline-block;}
#layout-menu-buttom ul li[data-type="main"] img,
#layout-menu-buttom ul li[data-type="mix"] img{border: 1px solid rgba(255, 255, 255, 0.5);border-radius: 50%;}
.layout-menu-buttom-sub-main [data-type="main"] img,
.layout-menu-buttom-sub-main [data-type="mix"] img{border: 1px solid rgba(255, 255, 255, 0.35);border-radius: 5px;}
#layout-menu-buttom ul li[data-type="thread"] img , 
#layout-menu-buttom ul li[data-type="monogram"] img,
.layout-menu-buttom-sub-main [data-type="thread"] li img,
.layout-menu-buttom-sub-main [data-type="monogram"] li img{width: auto;height: 49px}
#layout-menu-buttom #layout-menu-buttom-main li > div{border: 1px solid rgba(0, 0, 0, 0.1);overflow: hidden}
#layout-menu-buttom #layout-menu-buttom-main li.active{background: #000;border: 2px solid rgba(255,255,255,.5)}
#layout-menu-buttom #layout-menu-buttom-main li.active:not(:last-child):after{border-color: rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);border-style: solid;border-width: 15px;content: "";height: 0;left: 0;margin: auto;position: absolute;right: 0;top: -23%;width: 0;}
#layout-menu-buttom [data-grpcode="measure"] > div{}
#layout-menu-buttom .icon-back{border: 1px solid rgba(255, 255, 255, 0.35);cursor: pointer;border-radius: 50%;display: inline-block;width: 50px;height: 50px;background: url(../img/icon/icon-back.jpg);background-size: 100% 100%,cover;position: absolute;z-index: 99;left: 2%;top:34%;}

.layout-menu-buttom-sub-main [data-type="button"] > li{width: 50px}
#layout-menu-buttom .layout-menu-buttom-sub-main [data-type="button"] li{/*margin: 0 .8%;padding-top: 0.4%;*/width: 70px}
.layout-menu-buttom-sub-main [data-type="thread"] > li,
.layout-menu-buttom-sub-main [data-type="monogram"] > li{width: 40px}
.layout-menu-buttom-sub-main [data-type="thread"] > li img,
.layout-menu-buttom-sub-main [data-type="monogram"] > li img{height: 90%}
.layout-menu-buttom-sub-main > div,#layout-menu-buttom-monogram > div{background:rgba(0,0,0,.65)}
.layout-menu-buttom-sub-main li.active:after{position: absolute;content: "";background: #42d200;background-image: url(../img/icon/check-write.png);background-repeat: no-repeat;background-size: 70%,cover;background-position: center center;border-radius: 50%;width: 20px;height: 20px;display: inline-block;overflow: hidden;right: 0;bottom: 7px}
.layout-menu-buttom-sub-main [data-type='button'] li.active:after{bottom: 17px}
.layout-menu-buttom-sub-main li{width: 70px;height: 70px;margin: 10px 7px;transition: all .5s ease;-webkit-transition: all .5s ease}
.layout-menu-buttom-sub-main li.loading{transform: scale(0);-wekit-transform: scale(0)}
.layout-menu-buttom-sub-main li img{width: 100%;margin: 0}
.layout-menu-buttom-sub-main [data-grpcode]:not([data-grpcode="monogramColor"]){margin-left: 70px;overflow: hidden}

#layout-menu-buttom-monogram{overflow: hidden}
#layout-menu-buttom-monogram ul{width: 90%;margin: auto;overflow: hidden}
#layout-menu-buttom-monogram ul li{ width: 47%;margin: 5px 0;text-align: left}
#layout-menu-buttom-monogram h1{padding: 1% 0}

#layout-button-bottom{position: fixed;bottom: 0;width: 100%;left: 0;z-index: 99;text-align: center;transform:translateY(100%);transition: transform .5s ease;-webkit-transform: translateY(100%);-webkit-transition: all .5s ease;display: none}
.mobile #layout-button-bottom{display: block}
#layout-button-bottom.active{transform:translateY(0);-webkit-transform: translateY(0);}
#layout-button-bottom li{width: 50%;float: left;padding: 14px}

/*fabric info on mobile*/
#layout-fabric-info-mobile{position: fixed;left: 0;top:0;width: 100%;height: 100%;background: rgba(0,0,0,.9);z-index: 99;text-align: center;text-transform: capitalize;padding: 2% 1%;line-height: 1.2;transition: all .3s ease;-webkit-transition: all .3s ease;transform: translate3d(-100%,0,0);-webkit-transform: translate3d(-100%,0,0)}
#layout-fabric-info-mobile.active{transform: translate3d(0,0,0);-webkit-transform: translate3d(0,0,0)}
#layout-fabric-info-mobile .close{background: url(../../../itailor-data/webroot/img/icon/CloesButton.png);width: 50px;height: 50px;display: inline-block;cursor: pointer}
#layout-fabric-info-mobile img.fabric{/*border: 1px solid rgba(255,255,255,.5);*/display: inline-block;;width: 80%;max-width: 350px;margin: 2% auto 0;}
#layout-fabric-info-mobile .title{color: #78a1a3;padding: 1% 0;font-weight: bold;margin: 1% 0}
#layout-fabric-info-mobile .icon-season{width: 100%;max-width: 70px}

/*fabric info on pc*/
.item-fabric-detail{padding: 10% 0;text-align: center;position: fixed;width: 40%;max-width: 390px;top:37px;height: 100%;right: 0;background: rgba(0,0,0,.9);z-index: 99;border-left: 1px solid #000;transform: translateX(100%);-webkit-transform:translateX(100%);transition: transform .3s ease;-webkit-transition: all .3s ease;}
.item-fabric-detail .icon-close{background: url(../../../itailor-data/webroot/img/icon/CloesButton.png);width: 50px;height: 50px;display: inline-block;cursor: pointer;position: absolute;left: 1%;top:1%}
.item-fabric-detail img{margin: auto auto 3%;width: 90%;}
.item-fabric-detail .fabricStr{font-size: 130%;font-weight: bold}
.item-fabric-detail .fabricType{font-size: 100%;}
.item-fabric-detail p:last-child{font-size: 90%;}
.item-fabric-detail.active{transform: translateX(0);-webkit-transform:translateX(0);}
.mobile .item-fabric-detail{display: none}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{border-radius: 0;background: rgba(255, 255, 255, 1);width: 8px;}
.mCSB_scrollTools .mCSB_draggerRail {background: rgba(255, 255, 255, 0.5);}

/*------------------------------------------------------------------------------
 * Toggle Element Mobile
 *------------------------------------------------------------------------------*/
.mobile .layout-toolbar ,.mobile .layout-option-main-body .layout-button ,.mobile .tab-measure .layout-button , .mobile .icon-itailor{display: none}
.mobile .layout-toolbar-small{display: block}

/*------------------------------------------------------------------------------
 * Eff Layout Display
 *------------------------------------------------------------------------------*/
.layout-option-nav.animation-run{bottom: -130px;}
/*.mobile .layout-option-nav.animation-run{bottom: auto;}block animation on mobile*/
.layout-option-price , 
.layout-option-view,
.icon-itailor,
.layout-option-switch-selected,
.layout-option-item, .icon-fabric-info{transition: all .3s ease;-webkit-transition: all .3s ease;transform: scale(1);-webkit-transform: scale(1)}

.layout-option-price.animation-run ,
.layout-option-view.animation-run ,
.layout-option-switch-selected.animation-run,
.icon-itailor.animation-run,.layout-selected.animation-run, .icon-fabric-info.animation-run{transform: scale(0);-webkit-transform: scale(0)}

.layout-run-end .layout-option-price , .layout-run-block .layout-option-price , .layout-run-block .layout-option-item , .layout-run-block .layout-option-nav , .layout-run-block .layout-option-switch-selected,.icon-fabric-info{transition: all 0s ease;-webkit-transition: all 0s ease;}

.MayaDropDown {height: 27px;margin: 0 1%;min-width: 120px;padding: 3px;}
.MayaDropDown, .MayaDropDown ul{background: rgba(0,0,0,.8)}
.MayaDropDown .boxList{left: 0;top:100%}

/*preload main body*/
.preload-main-body{background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);height: 100%;left: 0;position: fixed;top: 35px;width: 100%;z-index: -50;opacity: 0;transition: opacity .1s ease;-webkit-transition: all .1s ease}
.preload-main-body.active{opacity: 1;z-index: 800;transition: opacity .2s ease;-webkit-transition: all .2s ease}
.mobile .preload-main-body{top: 0;font-size: 70%}
.preload-main-body span{width: 80px;height: 80px;position: absolute;left: 0;top:0;right: 0;bottom: 0;margin: auto;display: inline-block;line-height: 80px;text-align: center}
.preload-main-body span:first-child{animation: myfirst 1s linear infinite;-webkit-animation: myfirst 1s linear infinite;background: url(../img/icon/preload.png);background-size: 100% 100%,cover;background-repeat: no-repeat;}
.mobile .preload-main-body span{width: 50px;height: 50px;line-height: 50px;}


.FrmMeasure .button-add-cart{-webkit-animation:Glowing 3s linear infinite;-moz-animation:Glowing 3s linear infinite;animation:Glowing 3s linear infinite;}
@-moz-keyframes Glowing {0% {box-shadow: 0 0 1px 0 rgb(255, 255, 255);}50% {box-shadow: 0 0 10px 0 rgb(255, 255, 255);}100% {box-shadow: 0 0 1px 0 rgb(255, 255, 255);}}
@-webkit-keyframes Glowing {0% {box-shadow: 0 0 1px 0 rgb(255, 255, 255);}50% {box-shadow: 0 0 10px 0 rgb(255, 255, 255);}100% {box-shadow: 0 0 1px 0 rgb(255, 255, 255);}}
@keyframes Glowing {0% {box-shadow: 0 0 1px 0 rgb(255, 255, 255);}50% {box-shadow: 0 0 10px 0 rgb(255, 255, 255);}100% {box-shadow: 0 0 1px 0 rgb(255, 255, 255);}}
@keyframes myfirst {0%   {transform: rotate(0deg);}50%   {transform: rotate(180deg);}100%   {transform: rotate(360deg);}}
@-webkit-keyframes myfirst {0%   {-webkit-transform: rotate(0deg);}50%   {-webkit-transform: rotate(180deg);}100%   {-webkit-transform: rotate(360deg);}}

/*Preload page*/
.preload{position: fixed;width: 100%;height: 100%;left: 0;top:0;background: #000;z-index: 99999;margin: auto}
.preload .preload-main{width: 90%;max-width: 500px;position: relative;margin: auto;top:33.2%;text-align: center;}
.preload .preload-main div{height: 1px;background:rgba(255, 255, 255, 0.1);border-radius:2px;text-align: center;position: relative;margin-top: 5%;margin-bottom: 5%}
.preload .percent-bar-preload{background: #FFFFFF!important;margin: auto;border-radius:2px;width: 0;box-shadow: 0 0 3px 1.5px rgba(255, 255, 255, .3);}
.preload .percent-txt-preload{font-size: 160%;font-weight: 100;text-shadow: 0 0 5px yellow}

/*CSS FroupDown List*/
.dropDown{position: relative;display: inline-block;width: 30px;cursor: pointer}
.dropDown .display:before{content: "▼";position: absolute;right: -10px;top: 0;}
.dropDown img{vertical-align: middle;width: 30px}
.dropDown .list{position: absolute;width: 100%;overflow: hidden}
.dropDown .list ul{background: rgba(0,0,0,.95);width: 100%;transition: all .2s ease;transform: translate3d(0,-100%,0);-webkit-transition: all .2s ease;-webkit-transform: translate3d(0,-100%,0);opacity: 0}
.dropDown .list.active ul{transform: translate3d(0,0,0);-webkit-transform: translate3d(0,0,0);opacity: 1}
.dropDown .list ul > li{display: inline-block;}
.dropDown .list ul > li.active{display: none}
.dropDown .list ul > li::after{background: none}
#droupDownCountry > .list ul > li{display: block !important}
#divAcc #left{width: 29%}
#divAcc .mCSB_dragger_bar{left: -3px}

/*alert message*/
.alert-message{position: fixed;left: 0;top:0;;width: 100%;height: 100%;background: rgba(0,0,0,.2);text-align: center;overflow: hidden;z-index: -9999;opacity: 0;transition: all .5s ease-in-out;-webkit-transition: all .5s ease-in-out;}
.alert-message > div{background: rgba(0, 0, 0, 0.9);bottom: 0;height: 145px;left: 0;margin: auto;max-width: 300px;overflow: hidden;position: absolute;right: 0;top: 0;width: 98%;border-radius: 5px;opacity: 0;transition: all .2s ease-in-out;transform: scale(0);-webkit-transition: all .2s ease-in-out;-webkit-transform: scale(0)}
.alert-message .button{margin-right: 2%;border-radius: 5px;padding: 2% 10%}
.alert-message.active{opacity: 1;z-index: 999;transition: all .1s ease-in-out;-webkit-transition: all .1s ease-in-out;}
.alert-message.active > div{transform: scale(1);-webkit-transform: scale(1);opacity: 1}
.alert-message .message-str{height: 100px;line-height: 100px}

/*Please wait add to cart*/
.wait-cart{position: fixed;left: 0;top:0;;width: 100%;height: 100%;background: rgba(0,0,0,.95);text-align: center;overflow: hidden;z-index: -9999;opacity: 0;}
.wait-cart > div{bottom: 0;height: 50px;left: 0;margin: auto;max-width: 300px;overflow: hidden;position: absolute;right: 0;top: 0;width: 98%;border-radius: 5px;}
.wait-cart.active{opacity: 1;z-index: 999;transition: all .1s ease-in-out;-webkit-transition: all .1s ease-in-out;}
.wait-cart .wait-cart-preload{width: 25px;height: 25px;position: relative;display: inline-block;left: 0;right: 0;top:0;bottom: 0;margin: auto;background: url(../img/icon/preload-item.png);background-size: 100% 100%,cover;background-repeat: no-repeat;vertical-align: middle}
.wait-cart .wait-cart-preload{-webkit-animation:rotate 1s linear infinite;-moz-animation:rotate 1s linear infinite;animation:rotate 1s linear infinite;}

/*preloading item*/
.preload-item{width: 25px;height: 25px;position: absolute;display: inline-block;left: 0;right: 0;top:0;bottom: 0;margin: auto;background: url(../img/icon/preload-item.png);background-size: 100% 100%,cover;background-repeat: no-repeat}
.preload-item{-webkit-animation:rotate 1s linear infinite;-moz-animation:rotate 1s linear infinite;animation:rotate 1s linear infinite;}
@-moz-keyframes rotate { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg); } }
@keyframes rotate { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }}