.header {
    display: none;
    position: relative;
    z-index: 100;
    padding: 2px auto 5px auto;
    box-sizing: border-box;
    font-family: "Futura-Medium";
    letter-spacing: 2px;
    color: #ffffff;
    -webkit-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}
.header-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0 !important;
}
.header a {
    color: #ffffff;
    font-size: 9px;
}
.header .menu-nav {
    background: rgba(16, 5, 0, 0.82);
    padding: 0 10px;
    box-sizing: border-box;
}
.header .menu-nav .menu {
    max-width: 1600px;
    height: 33px;
    margin: 0 auto;
}
.header .menu-nav .menu > li {
    list-style: none;
}
.header .menu-nav .menu .left {
    float: left;
}
.header .menu-nav .menu .right {
    float: right;
}
.header .menu-nav .menu .left .menu-logo > li, .header .menu-nav .menu .right .menu-header > li {
    display: inline-block;
    list-style: none;
}
.header .menu-nav .menu .left .menu-logo > li {
    margin: 0 2px;
    line-height: 28px;
}
.header .menu-nav .menu .left .menu-logo a {
    font-size: 14px;
    font-weight: 300;
}
.header .menu-nav .menu .left .menu-logo .link-product {
    font-size: 14px;
}
.header .menu-nav .menu .right .menu-header > li {
    vertical-align: middle;
}
.header .menu-nav .menu .right .menu-header .dd-language {
    position: relative;
    z-index: 3;
    width: 50px;
    height: 33px;
}
.header .menu-nav .menu .right .menu-header .dd-language .language-selected {
    width: 27px;
    height: 27px;
    vertical-align: middle;
}
.header .menu-nav .menu .right .menu-header .dd-language .caret {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid #ffffff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: "";
}
.header .menu-nav .menu .right .menu-header .dd-language .language-list {
    display: none;
}
.header .menu-nav .menu .right .menu-header .dd-language:hover .language-list {
    display: block;
}
.header .menu-nav .menu .right .menu-header .dd-language .language-list > li {
    width: 140px;
    list-style: none;
}
.header .menu-nav .menu .right .menu-header .dd-language .language-list .language-item > * {
    vertical-align: middle;
}
.header .menu-nav .menu .right .menu-header .dd-language .language-list .language-item > img {
    width: 27px;
    height: 27px;
}
.header .menu-nav .menu .right .menu-header .dd-language .language-list .language-item > span {
    display: inline-block;
    width: 0px;
    padding: 5px 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    box-sizing: border-box;
    -webkit-transition: width 0.2s linear 0s;
    transition: width 0.2s linear 0s;
}
.header .menu-nav .menu .right .menu-header .dd-language .language-list .language-item:hover > span {
    width: 90px;
    opacity: 1;
}
.header .menu-nav .menu .right .menu-header .search-item {
    width: 120px;
    padding-right: 20px;
    padding-left: 2px;
    background: rgba(255, 252, 241, 0.73) url("../images/web/search.png") no-repeat right center;
    border: none;
    letter-spacing: 1px;
    box-sizing: border-box;
}
.header .menu-nav .menu .right .menu-header .item-card img {
    position: relative;
    top: -1px;
    height: 20px;
    vertical-align: middle;
}
.header .menu-nav .menu .right .menu-header .link-item-card, .header .menu-nav .menu .right .menu-header .link-checkout {
    color: #959595;
}
.header .sub-menu-nav {
    text-align: center;
    background: rgba(41, 13, 1, 0.65);
}
.header .sub-menu-nav .sub-menu {
    max-width: 1600px;
    margin: 0 auto;
}
.header .sub-menu-nav .sub-menu > li {
    display: inline-block;
    margin: 5px 15px;
    list-style: none;
}
.header .sub-menu-nav .sub-menu > li > a {
    font-size: 12px;
}
.header .sub-menu-nav .sub-menu > li > a.coming-soon {
    color: rgba(255, 255, 255, 0.5);
}
.billboard {
    position: relative;
    z-index: 2;
    width: 100%;
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}
.billboard .designer {
    position: relative;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: -webkit-transform 300ms ease 0s;
    transition: -webkit-transform 300ms ease 0s;
    -webkit-transition: transform 300ms ease 0s;
    transition: transform 300ms ease 0s;
}
.billboard .designer > li {
    float: left;
    height: 130px;
    width: 25%;
    list-style: none;
    -webkit-transition: height 500ms ease 0s;
    transition: height 500ms ease 0s;
}
.billboard .designer article {
    position: relative;
    width: 100%;
    height: 100%;
}
.billboard .designer .block-shirt {
    background: url("../images/billboard/shirt.jpg") no-repeat;
    background-position: center top;
    background-size: 130% auto;
    
}
.billboard .designer .block-suit {
    background: url("../images/billboard/suit.jpg") no-repeat;
    background-position: center top;
    background-size: 130% auto;
}
.billboard .designer .block-jacket {
    background: url("../images/billboard/jacket.jpg") no-repeat;
    background-position: center top;
    background-size: 130% auto;
}
.billboard .designer .block-pant {
    background: url("../images/billboard/pant.jpg") no-repeat;
    background-position: center top;
    background-size: 130% auto;
}
.billboard .designer .block-idesigner {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: "Futura-Medium";
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 0px 1px 2px #000;
}
.billboard .designer .block-idesigner .logo-idesigner {
    color: #ffffff;
    font-size: 26px;
    font-weight: 500;
}
.billboard .designer .block-idesigner .logo-itailor {
    color: #b8f1fa;
    font-size: 16px;
}
.billboard .designer .block-caption {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    color: #ffffff;
    text-align: center;
    text-shadow: 0px 1px 2px #000;
}
.billboard .designer .block-caption .header-designer {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 6px;
}
.billboard .designer .block-caption .sub-designer {
    font-size: 10px;
    letter-spacing: 1px;
}
.billboard .arrow {
    display: none;
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
}
.billboard .menu-filter {
    position: absolute;
    top: 268px;
    width: 100%;
    color: #ffffff;
    opacity: 0;
}
.billboard .menu-filter .tab-filter {
    margin: 0 auto;
    padding: 2px 0;
    width: 112px;
    background: rgba(39, 19, 8, 0.85);
    color: #acfffa;
    text-align: center;
    box-sizing: border-box;
}
.billboard .menu-filter .tab-filter-toggled {
    background: rgba(20, 145, 147, 0.85);
    color: #ffffff;
}
.billboard .menu-filter .tab-filter h3 {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
}
.billboard .menu-filter .tab-filter .arrow-filter {
    display: block;
    width: 21px;
    margin: 0 auto;
    -webkit-transition: -webkit-transform 500ms ease 0s;
    transition: transform 500ms ease 0s;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.billboard .menu-filter .tab-filter .arrow-filter-toggled {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.billboard .menu-filter .group-filter {
    margin: 0 auto;
    text-align: center;
    background: rgba(16, 5, 0, 0.68);
    -webkit-transition: height 300ms ease 0s;
    transition: height 300ms ease 0s;
}
.billboard .menu-filter .group-filter .group {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}
.billboard .menu-filter .group-filter .group h4 {
    padding-bottom: 5px;
    font-family: "Century Gothic";
    letter-spacing: 2px;
}
.billboard .menu-filter .group-filter .group > ul > li {
    padding-bottom: 2px;
    text-align: left;
    list-style: none;
}
.billboard .menu-filter .group-filter .group > ul > li input[type="checkbox"] {
    display: none;
}
.billboard .menu-filter .group-filter .group > ul > li input[type="checkbox"]+label {
    color: #ffffff;
    font-family: "Century Gothic";
    font-size: 12.5px;
    letter-spacing: 1px;
}
.billboard .menu-filter .group-filter .group > ul > li input[type="checkbox"]:checked+label {
    color: #ffffff;
}
.billboard .menu-filter .group-filter .group > ul > li input[type="checkbox"]+label:before {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background: rgba(173, 173, 173, 0.63);
    vertical-align: middle;
    content: "";
}
.billboard .menu-filter .group-filter .group > ul > li input[type="checkbox"].white+label:before
{
    background: #ffffff;
}
.billboard .menu-filter .group-filter .group > ul > li input[type="checkbox"].navy+label:before {
    background: #11354e;
}
.billboard .menu-filter .group-filter .group > ul > li input[type="checkbox"].orange+label:before {
    background: #d65c0a;
}
.billboard .menu-filter .group-filter .group > ul > li input[type="checkbox"].green+label:before {
    background: #1b6f12;
}
.billboard .menu-filter .group-filter .group > ul > li input[type="checkbox"].red+label:before {
    background: #bb1111;
}
.billboard .menu-filter .group-filter .group > ul > li input[type="checkbox"].blue+label:before {
    background: #98d0f7;
}
.billboard .menu-filter .group-filter .group > ul > li input[type="checkbox"].purple+label:before {
    background: #6e398c;
}
.billboard .menu-filter .group-filter .group > ul > li input[type="checkbox"]:checked+label:before {
    background-image: url("../images/billboard/checked.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}
.billboard .menu-filter .group-filter .refine-group h3 {
    display: inline-block;
    padding: 4px 20px;
    background: #000;
    letter-spacing: 2px;
}
.billboard .menu-filter .group-filter > div {
    height: 100%;
}
.billboard .menu-filter .group-filter > div .group-block {
    display: block;
    max-width: 1024px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 0 auto;
}
.billboard .menu-filter .group-filter > div .group-block .color-group {
    min-width: 170px;
}
.billboard .menu-filter .group-filter > div .group-block .clear-button {
    position: relative;
    width: 100px;
    margin: -30px 10px 0 auto;
    padding: 4px 0;
    border: 1px solid #797777;
    color: #acfffa;
    font-size: 18px;
    font-weight: bold;
}
.billboard .menu-filter .group-filter .nav-type {
    margin-top: 15px;
    padding: 2px 5px;
    overflow-x: auto;
    background: rgba(27, 14, 5, 0.56);
    text-align: center;
    box-sizing: border-box;
}
.billboard .menu-filter .group-filter .nav-type .menu-type {
    margin: 0 auto;
}
.billboard .menu-filter .group-filter .nav-type .menu-type > li {
    display: inline-block;
    margin: 5px 7px;
    list-style: none;
}
.billboard .menu-filter .group-filter .nav-type .menu-type > li a {
    color: #a2a2a2;
    font-weight: bold;
    letter-spacing: 1px;
}
.billboard .menu-filter .group-filter .nav-type .menu-type > li a.selected {
    color: #ffffff;
}
.billboard .menu-filter .group-filter .nav-type .menu-type .sale {
    color: #ff6600;
    font-style: italic;
}
.block-list {
    background-color: #f1eae1;
    text-align: center;
}
.block-list .block-arrow {
    display: none;
    position: relative;
    height: 17px;
}
.block-list .block-arrow-visible {
    display: block;
}
.block-list .block-arrow .arrow-slider {
    position: absolute;
    top: -12px;
    left: 0;
    z-index: 1;
    width: 24px;
    height: 24px;
    background: rgba(27, 14, 5, 0.56);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
}
.block-list .block-price-range {
    display: inline-block;
    width: 50%;
    max-width: 269px;
    margin: 10px auto;
}
.block-list .block-price-range .price-range-caption {
    font-weight: bold;
    letter-spacing: 2px;
}
.block-list .block-price-range .price-range-slider {
    margin-top: 8px;
}
.block-list .block-price-range .ui-corner-all {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.block-list .block-price-range .ui-widget-content {
    background: #858482;
    border: none;
}
.block-list .block-price-range .ui-widget-content .ui-state-default {
    background: #ffffff;
    border: none;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.block-list .block-price-range .ui-widget-header {
    background: #000000;
}
.block-list .block-price-range .ui-slider-horizontal {
    height: 2px;
}
.block-list .block-price-range .ui-slider .ui-slider-handle {
    width: 10px;
    height: 12px;
}
.block-list .block-price-range .ui-slider .ui-slider-handle:after {
    position: absolute;
    top: 12px;
    right: 0;
    left: 0;
    width: 0;
    margin: auto;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff transparent transparent;
    content: "";
}
.block-list .block-price-range .price-range {
    position: relative;
    height: 16px;
    margin-top: 10px;
}
.block-list .block-price-range .price-range input[type='text'] {
    display: none;
}
.block-list .block-price-range .price-range span {
    position: absolute;
    width: 50px;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    color: #FE3A14;
    font-weight: bold;
}
.block-list .block-price-range .price-range .price-start {
    left: 0;
    font-family: "Century Gothic";
    text-align: left;
}
.block-list .block-price-range .price-range .price-end {
    right: 0;
    font-family: "Century Gothic";
    text-align: right;
}
.block-list .header-list {
    margin: 15px auto 0 auto;
}
.block-list .header-list > li {
    font-size: 12px;
    list-style: none;
    box-sizing: border-box;
}
.block-list .header-list .total-caption {
    display: none;
}
.block-list .header-list .view-sort .view-size .view-title {
    vertical-align: top;
}
.block-list .header-list .view-sort .view-size .view-box {
    display: inline-block;
    margin: 0 4px;
}
.block-list .header-list .view-sort .view-size .view-four, .block-list .header-list .view-sort .view-size .view-six {
    display: none;
}
.block-list .header-list .view-sort .view-size .view-box > div {
    display: inline-block;
    width: 14px;
    height: 16px;
    background: rgba(72, 72, 72, 0.5);
}
.block-list .header-list .view-sort .view-size .view-box-selected > div {
    background: #000000;
}
.block-list .header-list-two {
    max-width: 1280px;
}
.block-list .header-list-three, .block-list .header-list-four {
    max-width: 1440px;
}
.block-list .header-list-six {
    max-width: 1600px;
}
.block-list .ct-item-list .item-list {
    margin: 15px auto 0 auto;
    padding: 0 10px;
}
.block-list .ct-item-list .item-list > li {
    float: left;
    padding-bottom: 20px;
    box-sizing: border-box;
    list-style: none;
}
.block-list .ct-item-list .item-list > li article {
    position: relative;
}
.block-list .ct-item-list .item-list .choose-design {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out 0s;
    transition: opacity 0.3s ease-out 0s;
}
.block-list .ct-item-list .item-list .choose-design .fabric-preview {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
.block-list .ct-item-list .item-list .shirt .choose-design .fabric-preview img {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    margin: -250px 0 auto -250px;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear 0s;
    transition: opacity 0.3s linear 0s;
}
.block-list .ct-item-list .item-list .suit .choose-design .fabric-preview img {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    margin: -199px 0 auto -250px;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear 0s;
    transition: opacity 0.3s linear 0s;
}
.block-list .ct-item-list .item-list .choose-design .choose-design-text {
    display: inline-block;
    position: relative;
    top: 35%;    
    margin: 0 auto;
    padding: 5px 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 2px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.block-list .ct-item-list .item-list .item-new {
    position: absolute;
    top: 5px;
    right: -17px;
    background: rgba(1, 147, 184, 0.9);
    border: 2px solid #ffffff;
    border-radius: 50%;
    text-align: center;
}
.block-list .ct-item-list .item-list .item-new > p {
    position: relative;
    top: 50%;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
}
.block-list .ct-item-list .item-list .item-preview {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.block-list .ct-item-list .item-list .item-loader {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -8px;
}
.block-list .ct-item-list .item-list .item-preview > img {
    display: block;
    opacity: 0;
    width: 100%;
    height: auto;
    -webkit-transition: opacity 1s linear 0s;
    transition: opacity 1s linear 0s;
}
.block-list .ct-item-list .item-list .item-title {
    margin-top: 5px;
}
.block-list .ct-item-list .item-list .item-title h4 {
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
}
.block-list .ct-item-list .item-list .item-title .price {
    color: #171717;
    font-family: "Century Gothic";
    font-size: 14px;
    font-weight: bold;
}
.block-list .ct-item-list .item-list .item-title .price-sale {
    color: #ff0000;
    font-family: "Century Gothic";
    font-size: 14px;
    font-weight: bold;
    opacity: 0;
}
.block-list .ct-item-list .item-list .item-title .price-sale-visible {
    opacity: 1;
}
.block-list .ct-item-list .item-list-one > li {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}
.block-list .ct-item-list .item-list-one .item-preview {
    min-height: 312px;
}
.block-list .ct-item-list .item-list-one .item-preview > img {
    min-width: 260px;
    min-height: 312px;
}
.block-list .ct-item-list .item-list-one .item-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px 0;
    background: rgba(0, 0, 0, 0.7);
}
.block-list .ct-item-list .item-list-one .item-title h4 {
    color: #ffffff;
    font-size: 16px;
}
.block-list .ct-item-list .item-list-one .item-title .price {
    color: #ffffff;
}
.block-list .ct-item-list .item-list-one .item-title .price, .block-list .ct-item-list .item-list-one .item-title .price-sale {
    font-size: 18px;
}
.block-list .ct-item-list .item-list-one .item-new {
    top: 15px;
    right: -20px;
    width: 36px;
    height: 36px;
}
.block-list .ct-item-list .item-list-one .item-new > p {
    margin-top: -8px;
    font-size: 12px;
}
.block-list .ct-item-list .item-list-two {
    max-width: 1280px;
    padding: 0 1px;
}
.block-list .ct-item-list .item-list-two > li {
    width: 50%;
    padding-right: 3px;
    padding-left: 3px;
}
.block-list .ct-item-list .item-list-two .item-preview {
    min-height: 156px;
}
.block-list .ct-item-list .item-list-two .item-preview > img {
    min-width: 130px;
    min-height: 156px;
}
.block-list .ct-item-list .item-list-two .item-new {
    right: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #FFF;
}
.block-list .ct-item-list .item-list-two .item-new > p {
    margin-top: -6px;
    font-size: 10px;
}
.block-list .ct-item-list .item-list-three, .block-list .ct-item-list .item-list-four {
    max-width: 1440px;
}
.block-list .ct-item-list .item-list-three > li {
    width: 33.33%;
    padding-right: 9px;
    padding-left: 9px;
}
.block-list .ct-item-list .item-list-three .item-preview {
    min-height: 99px;
}
.block-list .ct-item-list .item-list-three .item-preview > img {
    min-width: 82px;
    min-height: 99px;
}
.block-list .ct-item-list .item-list-three .item-title h4 {
    font-size: 10px;
}
.block-list .ct-item-list .item-list-three .item-title .price, .block-list .ct-item-list .item-list-three .item-title .price-sale {
    font-size: 12px;
}
.block-list .ct-item-list .item-list-three .item-new {
    top: 5px;
    right: -14px;
    width: 25px;
    height: 25px;
    border: 1px solid #ffffff;
}
.block-list .ct-item-list .item-list-three .item-new > p {
    margin-top: -6px;
    font-size: 9px;
}
.block-list .ct-item-list .item-list-four > li {
    width: 25%;
}
.block-list .ct-item-list .item-list-six {
    max-width: 1600px;
}
.block-list .ct-item-list .item-list-six > li {
    width: 16.66%;
}

@media only screen and (min-width: 640px) and (max-width: 640px) {
    .billboard .designer > li {
        height: 198px;
    }
    .billboard .designer .block-idesigner {
        display: block;
    }
    .billboard .designer .block-caption {
        top: 60px;
        right: 5px;
        bottom: auto;
        left: auto;
    }
    .billboard .designer .block-caption .header-designer {
        font-size: 20px;
        letter-spacing: 7px;
    }
    .billboard .designer .block-caption .sub-designer {
        font-size: 8px;
        letter-spacing: 2px;
    }
    .billboard .menu-filter .group-filter .nav-type {
        text-align: center;
    }
    .billboard .menu-filter .group-filter .nav-type .menu-type {
        width: auto;
    }
    .block-list .block-price-range {
        width: 35%;
    }
    .block-list .ct-item-list .item-list .choose-design:hover {
        opacity: 1;
    }
    .block-list .ct-item-list .item-list > li:hover .choose-design .choose-design-text {
        top: 45%;
    }
    .block-list .ct-item-list .item-list-one > li {
        padding-right: 50px;
        padding-left: 50px;
    }
    .block-list .ct-item-list .item-list-one .choose-design .fabric-preview img {
        top: 0;
/*        left: -10%;
        width: 120%;*/
        height: auto;
        margin-top: 0;
        margin-left: 0;
    }
    .block-list .ct-item-list .item-list-one > li:hover .choose-design .choose-design-text {
        top: 50%;
    }
    .block-list .ct-item-list .item-list-one .choose-design .choose-design-text {
        font-size: 24px;
    }
    .block-list .ct-item-list .item-list-one .item-preview {
        min-height: 624px;
    }
    .block-list .ct-item-list .item-list-one .item-preview > img {
        min-width: 520px;
        min-height: 624px;
    }
    .block-list .ct-item-list .item-list-one .item-title {
        padding: 10px 0;
    }
    .block-list .ct-item-list .item-list-one .item-title h4 {
        font-size: 18px;
    }
    .block-list .ct-item-list .item-list-one .item-title .price, .block-list .ct-item-list .item-list-one .item-title .price-sale {
        font-size: 20px;
    }
    .block-list .ct-item-list .item-list-one .item-new {
        right: -26px;
        width: 52px;
        height: 52px;
    }
    .block-list .ct-item-list .item-list-one .item-new > p {
        margin-top: -10px;
        font-size: 16px;
    }
    .block-list .ct-item-list .item-list-two {
        padding-right: 15px;
        padding-left: 15px;
    }
    .block-list .ct-item-list .item-list-two > li {
        padding-right: 15px;
        padding-left: 15px;
    }
    .block-list .ct-item-list .item-list-two .choose-design .choose-design-text {
        font-size: 16px;
    }
    .block-list .ct-item-list .item-list-two .item-preview {
        min-height: 330px;
    }
    .block-list .ct-item-list .item-list-two .item-preview > img {
        min-width: 275px;
        min-height: 330px;
    }
    .block-list .ct-item-list .item-list-two .item-new {
        top: 10px;
        right: -22px;
        width: 42px;
        height: 42px;
    }
    .block-list .ct-item-list .item-list-two .item-new > p {
        margin-top: -8px;
        font-size: 14px;
    }
    .block-list .ct-item-list .item-list-two .item-title h4 {
        font-size: 14px;
    }
    .block-list .ct-item-list .item-list-three {
        padding: 0 20px;
    }
    .block-list .ct-item-list .item-list-three > li {
        padding-right: 14px;
        padding-left: 14px;
    }
    .block-list .ct-item-list .item-list-three .choose-design .choose-design-text {
        font-size: 14px;
    }
    .block-list .ct-item-list .item-list-three .item-preview {
        min-height: 207px;
    }
    .block-list .ct-item-list .item-list-three .item-preview > img {
        min-width: 172px;
        min-height: 207px;
    }
    .block-list .ct-item-list .item-list-three .item-title h4 {
        font-size: 12px;
    }
    .block-list .ct-item-list .item-list-three .item-title .price, .block-list .ct-item-list .item-list-three .item-title .price-sale {
        font-size: 14px;
    }
    .block-list .ct-item-list .item-list-three .item-new {
        top: 5px;
        right: -20px;
        width: 38px;
        height: 38px;
        border: 2px solid #ffffff;
    }
    .block-list .ct-item-list .item-list-three .item-new > p {
        margin-top: -7px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 641px) and (max-width: 767px) {
    .billboard .designer > li {
        height: 223px;
    }
    .billboard .designer .block-idesigner {
        display: block;
    }
    .billboard .designer .block-caption {
        top: 60px;
        right: 5px;
        bottom: auto;
        left: auto;
    }
    .billboard .designer .block-caption .header-designer {
        font-size: 24px;
        letter-spacing: 7px;
    }
    .billboard .designer .block-caption .sub-designer {
        letter-spacing: 2px;
    }
    .billboard .arrow {
        width: 25px;
    }
    .billboard .arrow-prev {
        background-position: 50% 42%;
    }
    .billboard .arrow-next {
        background-position: 50% 42%;
    }
    .billboard .menu-filter .group-filter .nav-type {
        text-align: center;
    }
    .billboard .menu-filter .group-filter .nav-type .menu-type {
        width: auto;
    }
    .billboard .menu-filter .group-filter .nav-type .menu-type > li {
        margin: 5px 10px;
    }
    .block-list .block-price-range {
        width: 35%;
    }
    .block-list .ct-item-list .item-list .choose-design:hover {
        opacity: 1;
    }
    .block-list .ct-item-list .item-list > li:hover .choose-design .choose-design-text {
        top: 45%;
    }
    .block-list .ct-item-list .item-list-one {
        padding: 0 15px;
    }
    .block-list .ct-item-list .item-list-one > li {
        padding-right: 40px;
        padding-left: 40px;
    }
    .block-list .ct-item-list .item-list-one .choose-design .fabric-preview img {
        top: 0;
/*        left: -10%;
        width: 120%;*/
        height: auto;
        margin-top: 0;
        margin-left: 0;
    }
    .block-list .ct-item-list .item-list-one > li:hover .choose-design .choose-design-text {
        top: 50%;
    }
    .block-list .ct-item-list .item-list-one .choose-design .choose-design-text {
        font-size: 24px;
    }
    .block-list .ct-item-list .item-list-one .item-preview {
        min-height: 732px;
    }
    .block-list .ct-item-list .item-list-one .item-preview > img {
        min-width: 610px;
        min-height: 732px;
    }
    .block-list .ct-item-list .item-list-one .item-title {
        padding: 12px 0;
    }
    .block-list .ct-item-list .item-list-one .item-title h4 {
        font-size: 18px;
    }
    .block-list .ct-item-list .item-list-one .item-new {
        right: -26px;
        width: 52px;
        height: 52px;
    }
    .block-list .ct-item-list .item-list-one .item-new > p {
        margin-top: -10px;
        font-size: 16px;
    }
    .block-list .ct-item-list .item-list-one .item-title .price, .block-list .ct-item-list .item-list-one .item-title .price-sale {
        font-size: 20px;
    }
    .block-list .ct-item-list .item-list-two {
        width: 95%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .block-list .ct-item-list .item-list-two > li {
        padding-right: 15px;
        padding-left: 15px;
    }
    .block-list .ct-item-list .item-list-two .choose-design .choose-design-text {
        font-size: 18px;
    }
    .block-list .ct-item-list .item-list-two .item-preview {
        min-height: 375px;
    }
    .block-list .ct-item-list .item-list-two .item-preview > img {
        min-width: 312px;
        min-height: 375px;
    }
    .block-list .ct-item-list .item-list-two .item-title h4 {
        font-size: 14px;
    }
    .block-list .ct-item-list .item-list-two .item-title .price, .block-list .ct-item-list .item-list-two .item-title .price-sale {
        font-size: 16px;
    }
    .block-list .ct-item-list .item-list-two .item-new {
        top: 15px;
        right: -21px;
        width: 42px;
        height: 42px;
    }
    .block-list .ct-item-list .item-list-two .item-new > p {
        margin-top: -8px;
        font-size: 14px;
    }
    .block-list .ct-item-list .item-list-three {
        width: 95%;
        padding-right: 14px;
        padding-left: 14px;
    }
    .block-list .ct-item-list .item-list-three > li {
        padding-right: 14px;
        padding-left: 14px;
    }
    .block-list .ct-item-list .item-list-three .choose-design .choose-design-text {
        font-size: 16px;
    }
    .block-list .ct-item-list .item-list-three .item-preview {
        min-height: 240px;
    }
    .block-list .ct-item-list .item-list-three .item-preview > img {
        min-width: 200px;
        min-height: 240px;
    }
    .block-list .ct-item-list .item-list-three .item-title h4 {
        font-size: 14px;
    }
    .block-list .ct-item-list .item-list-three .item-title .price, .block-list .ct-item-list .item-list-three .item-title .price-sale {
        font-size: 16px;
    }
    .block-list .ct-item-list .item-list-three .item-new {
        top: 10px;
        right: -20px;
        width: 38px;
        height: 38px;
        border: 2px solid #ffffff;
    }
    .block-list .ct-item-list .item-list-three .item-new > p {
        margin-top: -7px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .billboard {
        margin: -50px auto 0 auto;
    }
    .billboard .designer > li {
        height: 238px;
    }
    .billboard .designer .block-idesigner {
        display: block;
        top: 55px;
    }
    .billboard .designer .block-caption {
        top: 105px;
        right: 10px;
        bottom: auto;
        left: auto;
    }
    .billboard .designer .block-caption .header-designer {
        font-size: 24px;
        letter-spacing: 7px;
    }
    .billboard .designer .block-caption .sub-designer {
        letter-spacing: 2px;
    }
    .billboard .arrow {
        width: 25px;
    }
    .billboard .arrow-prev {
        background-position: 50% 42%;
    }
    .billboard .arrow-next {
        background-position: 50% 42%;
    }
    .billboard .menu-filter .group-filter .nav-type {
        text-align: center;
    }
    .billboard .menu-filter .group-filter .nav-type .menu-type {
        width: auto;
    }
    .billboard .menu-filter .group-filter .nav-type .menu-type > li {
        margin: 5px 10px;
    }
    .block-list {
        background: #F1EAE1 url("../images/web/bg-shirt.jpg") no-repeat;
        background-position: center top;
    }
    .block-list .block-price-range {
        width: 35%;
    }
    .block-list .header-list .total-caption {
        display: block;
        float: left;
    }
    .block-list .header-list .view-sort {
        float: right;
    }
    .block-list .header-list-two, .block-list .header-list-three, .block-list .header-list-four {
        width: 95%;
        padding-right: 10px;
        padding-left: 10px;
        
    }
    .block-list .header-list-two > li, .block-list .header-list-three > li {
        padding-right: 10px;
        padding-left: 10px;
    }
    .block-list .header-list-four > li {
        padding-right: 5px;
        padding-left: 5px;
    }
    .block-list .header-list-six {
        width: 100%;
    }
    .block-list .header-list-six > li {
        padding-right: 1px;
        padding-left: 1px;
    }
    .block-list .header-list .view-sort .view-size .view-one {
        display: none;
    }
    .block-list .header-list .view-sort .view-size .view-four, .block-list .header-list .view-sort .view-size .view-six {
        display: inline-block;
    }
    .block-list .ct-item-list .item-list .choose-design:hover {
        opacity: 1;
    }
    .block-list .ct-item-list .item-list > li:hover .choose-design .choose-design-text {
        top: 45%;
    }
    .block-list .ct-item-list .item-list-two {
        width: 95%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .block-list .ct-item-list .item-list-two > li {
        padding-right: 15px;
        padding-left: 15px;
    }
    .block-list .ct-item-list .item-list-two .choose-design .choose-design-text {
        font-size: 18px;
    }
    .block-list .ct-item-list .item-list-two .item-preview {
        min-height: 402px;
    }
    .block-list .ct-item-list .item-list-two .item-preview > img {
        min-width: 335px;
        min-height: 402px;
    }
    .block-list .ct-item-list .item-list-two .item-title h4 {
        font-size: 14px;
    }
    .block-list .ct-item-list .item-list-two .item-title .price, .block-list .ct-item-list .item-list-two .item-title .price-sale {
        font-size: 16px;
    }
    .block-list .ct-item-list .item-list-two .item-new {
        top: 15px;
        right: -21px;
        width: 42px;
        height: 42px;
    }
    .block-list .ct-item-list .item-list-two .item-new > p {
        margin-top: -8px;
        font-size: 14px;
    }
    .block-list .ct-item-list .item-list-three {
        width: 95%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .block-list .ct-item-list .item-list-three > li {
        padding-right: 15px;
        padding-left: 15px;
    }
    .block-list .ct-item-list .item-list-three .choose-design .choose-design-text {
        font-size: 16px;
    }
    .block-list .ct-item-list .item-list-three .item-preview {
        min-height: 257px;
    }
    .block-list .ct-item-list .item-list-three .item-preview > img {
        min-width: 214px;
        min-height: 257px;
    }
    .block-list .ct-item-list .item-list-three .item-title h4 {
        font-size: 14px;
    }
    .block-list .ct-item-list .item-list-three .item-title .price, .block-list .ct-item-list .item-list-three .item-title .price-sale {
        font-size: 16px;
    }
    .block-list .ct-item-list .item-list-three .item-new {
        top: 10px;
        right: -20px;
        width: 38px;
        height: 38px;
        border: 2px solid #ffffff;
    }
    .block-list .ct-item-list .item-list-three .item-new > p, .block-list .ct-item-list .item-list-four .item-new > p {
        margin-top: -7px;
        font-size: 12px;
    }
    .block-list .ct-item-list .item-list-four {
        width: 95%;
        padding-right: 12px;
        padding-left: 12px;
    }
    .block-list .ct-item-list .item-list-four > li {
        padding-right: 12px;
        padding-left: 12px;
    }
    .block-list .ct-item-list .item-list-four .choose-design .choose-design-text {
        font-size: 12px;
    }
    .block-list .ct-item-list .item-list-four .item-preview {
        min-height: 191px;
    }
    .block-list .ct-item-list .item-list-four .item-preview > img {
        min-width: 159px;
        min-height: 191px;
    }
    .block-list .ct-item-list .item-list-four .item-new {
        right: -19px;
        width: 34px;
        height: 34px;
    }
    .block-list .ct-item-list .item-list-six {
        width: 100%;
        padding: 0px;
    }
    .block-list .ct-item-list .item-list-six > li {
        padding-right: 18px;
        padding-left: 5px;
    }
    .block-list .ct-item-list .item-list-six .choose-design .choose-design-text {
        max-width: 90px;
        padding: 5px 2px;
        font-size: 10px;
    }
    .block-list .ct-item-list .item-list-six .item-preview {
        min-height: 130px;
    }
    .block-list .ct-item-list .item-list-six .item-preview > img {
        min-width: 108px;
        min-height: 130px;
    }
    .block-list .ct-item-list .item-list-six .item-title h4 {
        font-size: 10px;
    }
    .block-list .ct-item-list .item-list-six .item-title .price, .block-list .ct-item-list .item-list-six .item-title .price-sale {
        font-size: 12px;
    }
    .block-list .ct-item-list .item-list-six .item-new {
        right: -16px;
        width: 30px;
        height: 30px;
        border: 1px solid #ffffff;
    }
    .block-list .ct-item-list .item-list-six .item-new > p {
        margin-top: -6px;
        font-size: 10px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .header {
        display: block;
        margin-top: -50px;
    }
    .billboard {
        margin: -61px auto 0 auto;
    }
    .billboard .designer > li {
        height: 300px;
    }
    .billboard .designer .block-idesigner {
        display: block;
        top: 70px;
        left: 20px;
    }
    .billboard .designer .block-caption {
        top: 135px;
        right: 40px;
        bottom: auto;
        left: auto;
    }
    .billboard .designer .block-caption .header-designer {
        font-size: 30px;
        letter-spacing: 7px;
    }
    .billboard .designer .block-caption .sub-designer {
        letter-spacing: 3px;
    }
    .billboard .arrow {
        width: 25px;
    }
    .billboard .arrow-prev {
        background-position: 50% 42%;
    }
    .billboard .arrow-next {
        background-position: 50% 42%;
    }
    .billboard .menu-filter {
        opacity: 1;
    }
    .billboard .menu-filter .group-filter .nav-type .menu-type {
        width: auto;
    }
    .billboard .menu-filter .group-filter .nav-type .menu-type > li {
        margin: 5px 20px;
    }
    .block-list {
        background: #F1EAE1 url("../images/web/bg-shirt.jpg") no-repeat;
        background-position: center top;
    }
    .block-list .header-list .total-caption {
        display: block;
        float: left;
    }
    .block-list .header-list .view-sort {
        float: right;
    }
    .block-list .header-list-two, .block-list .header-list-three, .block-list .header-list-four {
        width: 95%;
        padding-right: 10px;
        padding-left: 10px;
    }
    .block-list .header-list-two > li, .block-list .header-list-three > li {
        padding-right: 10px;
        padding-left: 10px;
    }
    .block-list .header-list-four > li {
        padding-right: 5px;
        padding-left: 5px;
    }
    .block-list .header-list-six {
        width: 100%;
    }
    .block-list .header-list-six > li {
        padding-right: 1px;
        padding-left: 1px;
    }
    .block-list .header-list .view-sort .view-size .view-one {
        display: none;
    }
    .block-list .header-list .view-sort .view-size .view-four, .block-list .header-list .view-sort .view-size .view-six {
        display: inline-block;
    }
    .block-list .ct-item-list .item-list .choose-design:hover {
        opacity: 1;
    }
    .block-list .ct-item-list .item-list > li:hover .choose-design .choose-design-text {
        top: 45%;
    }
    .block-list .ct-item-list .item-list-two {
        width: 95%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-two > li {
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-two .shirt .choose-design .fabric-preview img {
        top: 0;
        left: -10%;
        width: 121%;
        height: auto;
        margin-top: 0;
        margin-left: 0;
    }
    .block-list .ct-item-list .item-list-two .suit .choose-design .fabric-preview img {
        top: 0;
        left: -10%;
        width: 151%;
        height: auto;
        margin-top: 0;
        margin-left: 0;
    }
    .block-list .ct-item-list .item-list-two .choose-design .choose-design-text {
        font-size: 24px;
    }
    .block-list .ct-item-list .item-list-two .item-preview {
        min-height: 537px;
    }
    .block-list .ct-item-list .item-list-two .item-preview > img {
        min-width: 447px;
        min-height: 537px;
    }
    .block-list .ct-item-list .item-list-two .item-title h4 {
        font-size: 18px;
    }
    .block-list .ct-item-list .item-list-two .item-title .price, .block-list .ct-item-list .item-list-two .item-title .price-sale {
        font-size: 20px;
    }
    .block-list .ct-item-list .item-list-two .item-new {
        top: 20px;
        right: -26px;
        width: 52px;
        height: 52px;
    }
    .block-list .ct-item-list .item-list-two .item-new > p {
        margin-top: -10px;
        font-size: 16px;
    }
    .block-list .ct-item-list .item-list-three {
        width: 95%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-three > li {
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-three .choose-design .choose-design-text {
        font-size: 20px;
    }
    .block-list .ct-item-list .item-list-three .item-preview {
        min-height: 342px;
    }
    .block-list .ct-item-list .item-list-three .item-preview > img {
        min-width: 285px;
        min-height: 342px;
    }
    .block-list .ct-item-list .item-list-three .item-title h4 {
        font-size: 14px;
    }
    .block-list .ct-item-list .item-list-three .item-title .price, .block-list .ct-item-list .item-list-three .item-title .price-sale {
        font-size: 16px;
    }
    .block-list .ct-item-list .item-list-three .item-new {
        top: 15px;
        right: -25px;
        width: 48px;
        height: 48px;
        border: 2px solid #ffffff;
    }
    .block-list .ct-item-list .item-list-three .item-new > p {
        margin-top: -8px;
        font-size: 14px;
    }
    .block-list .ct-item-list .item-list-four {
        width: 95%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .block-list .ct-item-list .item-list-four > li {
        padding-right: 15px;
        padding-left: 15px;
    }
    .block-list .ct-item-list .item-list-four .choose-design .choose-design-text {
        font-size: 16px;
    }
    .block-list .ct-item-list .item-list-four .item-preview {
        min-height: 257px;
    }
    .block-list .ct-item-list .item-list-four .item-preview > img {
        min-width: 214px;
        min-height: 257px;
    }
    .block-list .ct-item-list .item-list-four .item-new {
        top: 10px;
        right: -20px;
        width: 38px;
        height: 38px;
    }
    .block-list .ct-item-list .item-list-four .item-new > p {
        margin-top: -7px;
        font-size: 12px;
    }
    .block-list .ct-item-list .item-list-six {
        width: 100%;
        padding: 0;
    }
    .block-list .ct-item-list .item-list-six > li {
        padding-right: 20px;
        padding-left: 10px;
    }
    .block-list .ct-item-list .item-list-six .choose-design .choose-design-text {
        max-width: 90px;
        font-size: 12px;
    }
    .block-list .ct-item-list .item-list-six .item-preview {
        min-height: 170px;
    }
    .block-list .ct-item-list .item-list-six .item-preview > img {
        min-width: 141px;
        min-height: 170px;
    }
    .block-list .ct-item-list .item-list-six .item-new {
        right: -16px;
        width: 30px;
        height: 30px;
        border: 1px solid #ffffff;
    }
    .block-list .ct-item-list .item-list-six .item-new > p {
        margin-top: -6px;
        font-size: 10px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1359px) {
    .header {
        display: block;
        margin-top: -50px;
    }
    .billboard {
        margin: -61px auto 0 auto;
    }
    .billboard .designer > li {
        height: 300px;
    }
    .billboard .designer .block-idesigner {
        display: block;
        top: 70px;
        left: 25px;
    }
    .billboard .designer .block-idesigner .logo-idesigner {
        font-size: 28px;
    }
    .billboard .designer .block-idesigner .logo-itailor {
        font-size: 18px;
    }
    .billboard .designer .block-caption {
        top: 130px;
        right: 65px;
        bottom: auto;
        left: auto;
    }
    .billboard .designer .block-caption .header-designer {
        font-size: 36px;
        letter-spacing: 7px;
    }
    .billboard .designer .block-caption .sub-designer {
        font-size: 12px;
        letter-spacing: 3px;
    }
    .billboard .arrow {
        width: 32px;
    }
    .billboard .arrow-prev {
        background-position: 50% 42%;
    }
    .billboard .arrow-next {
        background-position: 50% 42%;
    }
    .billboard .menu-filter {
        opacity: 1;
    }
    .billboard .menu-filter .group-filter .nav-type {
        display: block;
        text-align: center;
    }
    .billboard .menu-filter .group-filter .nav-type .menu-type {
        width: auto;
    }
    .billboard .menu-filter .group-filter .nav-type .menu-type > li {
        margin: 5px 20px;
    }
    .block-list {
        background: #F1EAE1 url("../images/web/bg-shirt.jpg") no-repeat;
        background-position: center top;
    }
    .block-list .header-list .total-caption {
        display: block;
        float: left;
    }
    .block-list .header-list .view-sort {
        float: right;
    }
    .block-list .header-list .title {
        font-size: 10px;
    }
    .block-list .header-list-two, .block-list .header-list-three, .block-list .header-list-four {
        width: 95%;
        padding-right: 10px;
        padding-left: 10px;
    }
    .block-list .header-list-two > li, .block-list .header-list-three > li {
        padding-right: 10px;
        padding-left: 10px;
    }
    .block-list .header-list-four > li {
        padding-right: 5px;
        padding-left: 5px;
    }
    .block-list .header-list-six {
        width: 100%;
    }
    .block-list .header-list-six > li {
        padding-right: 2px;
        padding-left: 2px;
    }
    .block-list .view-size .view-title {
        font-size: 12px;
    }
    .block-list .header-list .view-sort .view-size .view-one {
        display: none;
    }
    .block-list .header-list .view-sort .view-size .view-four, .block-list .header-list .view-sort .view-size .view-six {
        display: inline-block;
    }
    .block-list .ct-item-list .item-list .choose-design:hover {
        opacity: 1;
    }
    .block-list .ct-item-list .item-list > li:hover .choose-design .choose-design-text {
        top: 45%;
    }
    .block-list .ct-item-list .item-list-two {
        width: 95%;
        padding-right: 40px;
        padding-left: 40px;
        box-sizing: border-box;
    }
    .block-list .ct-item-list .item-list-two > li {
        padding-right: 40px;
        padding-left: 40px;
    }
    .block-list .ct-item-list .item-list-two .shirt .choose-design .fabric-preview img {
        top: 0;
        left: -10%;
        width: 121%;
        height: auto;
        margin-top: 0;
        margin-left: 0;
    }
    .block-list .ct-item-list .item-list-two .suit .choose-design .fabric-preview img {
        top: 0;
        left: -10%;
        width: 151%;
        height: auto;
        margin-top: 0;
        margin-left: 0;
    }
    .block-list .ct-item-list .item-list-two .choose-design .choose-design-text {
        font-size: 24px;
    }
    .block-list .ct-item-list .item-list-two .item-preview {
        min-height: 586px;
    }
    .block-list .ct-item-list .item-list-two .item-preview > img {
        min-width: 488px;
        min-height: 586px;
    }
    .block-list .ct-item-list .item-list-two .item-title h4 {
        font-size: 18px;
    }
    .block-list .ct-item-list .item-list-two .item-title .price, .block-list .ct-item-list .item-list-two .item-title .price-sale {
        font-size: 20px;
    }
    .block-list .ct-item-list .item-list-two .item-new {
        top: 20px;
        right: -29px;
        width: 58px;
        height: 58px;
    }
    .block-list .ct-item-list .item-list-two .item-new > p {
        margin-top: -11px;
        font-size: 18px;
    }
    .block-list .ct-item-list .item-list-three {
        width: 95%;
        padding-right: 30px;
        padding-left: 30px;
    }
    .block-list .ct-item-list .item-list-three > li {
        padding-right: 30px;
        padding-left: 30px;
    }
    .block-list .ct-item-list .item-list-three .choose-design .choose-design-text {
        font-size: 20px;
    }
    .block-list .ct-item-list .item-list-three .item-preview {
        min-height: 416px;
    }
    .block-list .ct-item-list .item-list-three .item-preview > img {
        min-width: 346px;
        min-height: 416px;
    }
    .block-list .ct-item-list .item-list-three .item-title h4 {
        font-size: 16px;
    }
    .block-list .ct-item-list .item-list-three .item-title .price, .block-list .ct-item-list .item-list-three .item-title .price-sale {
        font-size: 18px;
    }
    .block-list .ct-item-list .item-list-three .item-new  {
        top: 15px;
        right: -25px;
        width: 48px;
        height: 48px;
        border: 2px solid #ffffff;
    }
    .block-list .ct-item-list .item-list-three .item-new > p, .block-list .ct-item-list .item-list-four .item-new > p {
        margin-top: -8px;
        font-size: 14px;
    }
    .block-list .ct-item-list .item-list-four {
        width: 95%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-four > li {
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-four .choose-design .choose-design-text {
        font-size: 18px;
    }
    .block-list .ct-item-list .item-list-four .item-preview {
        min-height: 317px;
    }
    .block-list .ct-item-list .item-list-four .item-preview > img {
        min-width: 264px;
        min-height: 317px;
    }
    .block-list .ct-item-list .item-list-four .item-title h4 {
        font-size: 14px;
    }
    .block-list .ct-item-list .item-list-four .item-title .price, .block-list .ct-item-list .item-list-four .item-title .price-sale {
        font-size: 16px;
    }
    .block-list .ct-item-list .item-list-four .item-new  {
        top: 15px;
        right: -25px;
        width: 48px;
        height: 48px;
    }
    .block-list .ct-item-list .item-list-six {
        width: 100%;
        padding: 0;
    }
    .block-list .ct-item-list .item-list-six > li {
        padding-right: 20px;
        padding-left: 10px;
    }
    .block-list .ct-item-list .item-list-six .choose-design .choose-design-text {
        font-size: 16px;
    }
    .block-list .ct-item-list .item-list-six .item-preview {
        min-height: 221px;
    }
    .block-list .ct-item-list .item-list-six .item-preview > img {
        min-width: 184px;
        min-height: 221px;
    }
    .block-list .ct-item-list .item-list-six .item-new {
        top: 10px;
        right: -20px;
        width: 38px;
        height: 38px;
    }
    .block-list .ct-item-list .item-list-six .item-new > p {
        margin-top: -7px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 1360px) and (max-width: 1439px) {
    .header {
        display: block;
        margin-top: -50px;
    }
    .billboard {
        margin: -61px auto 0 auto;
    }
    .billboard .designer > li {
        height: 300px;
    }
    .billboard .designer .block-idesigner {
        display: block;
        top: 80px;
        left: 30px;
    }
    .billboard .designer .block-idesigner .logo-idesigner {
        font-size: 28px;
    }
    .billboard .designer .block-idesigner .logo-itailor {
        font-size: 18px;
    }
    .billboard .designer .block-shirt, .billboard .designer .block-suit, .billboard .designer .block-jacket, .billboard .designer .block-pant  {
        background-size: 120% auto;
    }
    .billboard .designer .block-caption {
        top: 130px;
        right: 60px;
        bottom: auto;
        left: auto;
    }
    .billboard .designer .block-caption .header-designer {
        font-size: 42px;
        letter-spacing: 7px;
    }
    .billboard .designer .block-caption .sub-designer {
        font-size: 14px;
        letter-spacing: 3px;
    }
    .billboard .arrow {
        width: 32px;
    }
    .billboard .arrow-prev {
        background-position: 50% 42%;
    }
    .billboard .arrow-next {
        background-position: 50% 42%;
    }
    .billboard .menu-filter {
        opacity: 1;
    }
    .billboard .menu-filter .group-filter .nav-type {
        display: block;
        text-align: center;
    }
    .billboard .menu-filter .group-filter .nav-type .menu-type {
        width: auto;
    }
    .billboard .menu-filter .group-filter .nav-type .menu-type > li {
        margin: 5px 20px;
    }
    .block-list {
        background: #F1EAE1 url("../images/web/bg-shirt.jpg") no-repeat;
        background-position: center top;
    }
    .block-list .header-list .total-caption {
        display: block;
        float: left;
    }
    .block-list .header-list .view-sort {
        float: right;
    }
    .block-list .header-list .title {
        font-size: 10px;
    }
    .block-list .header-list-two, .block-list .header-list-three, .block-list .header-list-four {
        width: 95%;
        padding-right: 10px;
        padding-left: 10px;
    }
    .block-list .header-list-two > li, .block-list .header-list-three > li {
        padding-right: 10px;
        padding-left: 10px;
    }
    .block-list .header-list-four > li {
        padding-left: 5px;
        padding-right: 5px;
    }
    .block-list .header-list-six {
        width: 100%;
    }
    .block-list .header-list-six > li {
        padding-right: 2px;
        padding-left: 2px;
    }
    .block-list .view-size .view-title {
        font-size: 12px;
    }
    .block-list .header-list .view-sort .view-size .view-one {
        display: none;
    }
    .block-list .header-list .view-sort .view-size .view-four, .block-list .header-list .view-sort .view-size .view-six {
        display: inline-block;
    }
    .block-list .ct-item-list .item-list .choose-design:hover {
        opacity: 1;
    }
    .block-list .ct-item-list .item-list > li:hover .choose-design .choose-design-text {
        top: 45%;
    }
    .block-list .ct-item-list .item-list-two {
        width: 95%;
        padding-right: 40px;
        padding-left: 40px;
        box-sizing: border-box;
    }
    .block-list .ct-item-list .item-list-two > li {
        padding-right: 40px;
        padding-left: 40px;
    }
    .block-list .ct-item-list .item-list-two .shirt .choose-design .fabric-preview img {
        top: 0;
        left: -15%;
        width: 130%;
        height: auto;
        margin-top: 0;
        margin-left: 0;
    }
    .block-list .ct-item-list .item-list-two .suit .choose-design .fabric-preview img {
        top: 0;
        left: -15%;
        width: 151%;
        height: auto;
        margin-top: 0;
        margin-left: 0;
    }
    .block-list .ct-item-list .item-list-two .choose-design .choose-design-text {
        font-size: 26px;
    }
    .block-list .ct-item-list .item-list-two .item-preview {
        min-height: 670px;
    }
    .block-list .ct-item-list .item-list-two .item-preview > img {
        min-width: 518px;
        min-height: 670px;
    }
    .block-list .ct-item-list .item-list-two .item-title h4 {
        font-size: 18px;
    }
    .block-list .ct-item-list .item-list-two .item-title .price, .block-list .ct-item-list .item-list-two .item-title .price-sale {
        font-size: 20px;
    }
    .block-list .ct-item-list .item-list-two .item-new {
        top: 20px;
        right: -29px;
        width: 58px;
        height: 58px;
    }
    .block-list .ct-item-list .item-list-two .item-new > p {
        margin-top: -11px;
        font-size: 18px;
    }
    .block-list .ct-item-list .item-list-three {
        width: 95%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-three > li {
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-three .choose-design .choose-design-text {
        font-size: 22px;
    }
    .block-list .ct-item-list .item-list-three .item-preview {
        min-height: 464px;
    }
    .block-list .ct-item-list .item-list-three .item-preview > img {
        min-width: 386px;
        min-height: 464px;
    }
    .block-list .ct-item-list .item-list-three .item-title h4, .block-list .ct-item-list .item-list-four .item-title h4 {
        font-size: 16px;
    }
    .block-list .ct-item-list .item-list-three .item-title .price, .block-list .ct-item-list .item-list-three .item-title .price-sale, .block-list .ct-item-list .item-list-four .item-title .price, .block-list .ct-item-list .item-list-four .item-title .price-sale {
        font-size: 18px;
    }
    .block-list .ct-item-list .item-list-three .item-new {
        top: 20px;
        right: -25px;
        width: 48px;
        height: 48px;
        border: 2px solid #ffffff;
    }
    .block-list .ct-item-list .item-list-three .item-new > p, .block-list .ct-item-list .item-list-four .item-new > p {
        margin-top: -8px;
        font-size: 14px;
    }
    .block-list .ct-item-list .item-list-four {
        width: 95%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-four > li {
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-four .choose-design .choose-design-text {
        font-size: 20px;
    }
    .block-list .ct-item-list .item-list-four .item-preview {
        min-height: 335px;
    }
    .block-list .ct-item-list .item-list-four .item-preview > img {
        min-width: 279px;
        min-height: 335px;
    }
    .block-list .ct-item-list .item-list-four .item-new {
        top: 15px;
        right: -25px;
        width: 48px;
        height: 48px;
    }
    .block-list .ct-item-list .item-list-six {
        width: 100%;
        padding: 0;
    }
    .block-list .ct-item-list .item-list-six > li {
        padding-right: 20px;
        padding-left: 10px;
    }
    .block-list .ct-item-list .item-list-six .choose-design .choose-design-text {
        font-size: 16px;
    }
    .block-list .ct-item-list .item-list-six .item-preview {
        min-height: 233px;
    }
    .block-list .ct-item-list .item-list-six .item-preview > img {
        min-width: 194px;
        min-height: 233px;
    }
    .block-list .ct-item-list .item-list-six .item-new {
        top: 10px;
        right: -19px;
        width: 38px;
        height: 38px;
    }
    .block-list .ct-item-list .item-list-six .item-new > p {
        margin-top: -7px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1599px) {
    .header {
        display: block;
        margin-top: -50px;
    }
    .billboard {
        margin: -61px auto 0 auto;
    }
    .billboard .designer > li {
        height: 300px;
    }
    .billboard .designer .block-idesigner {
        display: block;
        top: 80px;
        left: 30px;
    }
    .billboard .designer .block-idesigner .logo-idesigner {
        font-size: 32px;
    }
    .billboard .designer .block-idesigner .logo-itailor {
        font-size: 20px;
    }
    .billboard .designer .block-shirt, .billboard .designer .block-suit, .billboard .designer .block-jacket, .billboard .designer .block-pant {
        background-size: 120% auto;
    }
    .billboard .designer .block-caption {
        top: 135px;
        right: 60px;
        bottom: auto;
        left: auto;
    }
    .billboard .designer .block-caption .header-designer {
        font-size: 48px;
        letter-spacing: 7px;
    }
    .billboard .designer .block-caption .sub-designer {
        font-size: 16px;
        letter-spacing: 3px;
    }
    .billboard .arrow {
        width: 32px;
    }
    .billboard .arrow-prev {
        background-position: 50% 42%;
    }
    .billboard .arrow-next {
        background-position: 50% 42%;
    }
    .billboard .menu-filter {
        opacity: 1;
    }
    .billboard .menu-filter .group-filter .nav-type {
        display: block;
        text-align: center;
    }
    .billboard .menu-filter .group-filter .nav-type .menu-type {
        width: auto;
    }
    .billboard .menu-filter .group-filter .nav-type .menu-type > li {
        margin: 5px 26px;
    }
    .block-list {
        background: #F1EAE1 url("../images/web/bg-shirt.jpg") no-repeat;
        background-position: center top;
    }
    .block-list .header-list .total-caption {
        display: block;
        float: left;
    }
    .block-list .header-list .view-sort {
        float: right;
    }
    .block-list .header-list .title {
        font-size: 10px;
    }
    .block-list .header-list-two, .block-list .header-list-three, .block-list .header-list-four {
        width: 95%;
        padding-right: 10px;
        padding-left: 10px;
    }
    .block-list .header-list-two > li, .block-list .header-list-three > li {
        padding-right: 10px;
        padding-left: 10px;
    }
    .block-list .ct-item-list .item-list-two .item-new {
        top: 20px;
        right: -29px;
        width: 58px;
        height: 58px;
    }
    .block-list .ct-item-list .item-list-two .item-new > p {
        margin-top: -11px;
        font-size: 18px;
    }
    .block-list .header-list-four > li {
        padding-right: 5px;
        padding-left: 5px;
    }
    .block-list .header-list-six {
        width: 100%;
    }
    .block-list .header-list-six > li {
        padding-right: 4px;
        padding-left: 4px;
    }
    .block-list .view-size .view-title {
        font-size: 12px;
    }
    .block-list .header-list .view-sort .view-size .view-one {
        display: none;
    }
    .block-list .header-list .view-sort .view-size .view-four, .block-list .header-list .view-sort .view-size .view-six {
        display: inline-block;
    }
    .block-list .ct-item-list .item-list .choose-design:hover {
        opacity: 1;
    }
    .block-list .ct-item-list .item-list > li:hover .choose-design .choose-design-text {
        top: 45%;
    }
    .block-list .ct-item-list .item-list-two {
        width: 95%;
        padding-right: 40px;
        padding-left: 40px;
    }
    .block-list .ct-item-list .item-list-two > li {
        padding-right: 40px;
        padding-left: 40px;
    }
    .block-list .ct-item-list .item-list-two .shirt .choose-design .fabric-preview img {
        top: 0;
        left: -15%;
        width: 130%;
        height: auto;
        margin-top: 0;
        margin-left: 0;
    }
    .block-list .ct-item-list .item-list-two .suit .choose-design .fabric-preview img {
        top: 0;
        left: -15%;
        width: 151%;
        height: auto;
        margin-top: 0;
        margin-left: 0;
    }
    .block-list .ct-item-list .item-list-two .choose-design .choose-design-text {
        font-size: 28px;
    }
    .block-list .ct-item-list .item-list-two .item-preview {
        min-height: 670px;
    }
    .block-list .ct-item-list .item-list-two .item-preview > img {
        min-width: 518px;
        min-height: 670px;
    }
    .block-list .ct-item-list .item-list-two .item-title h4 {
        font-size: 20px;
    }
    .block-list .ct-item-list .item-list-two .item-title .price, .block-list .ct-item-list .item-list-two .item-title .price-sale {
        font-size: 22px;
    }
    .block-list .ct-item-list .item-list-two .item-new {
        width: 58px;
        height: 58px;
    }
    .block-list .ct-item-list.item-list-two .item-new > p {
        margin-top: -11px;
        font-size: 18px;
    }
    .block-list .ct-item-list .item-list-three {
        width: 95%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-three > li {
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-three .choose-design .choose-design-text {
        font-size: 24px;
    }
    .block-list .ct-item-list .item-list-three .item-preview {
        min-height: 464px;
    }
    .block-list .ct-item-list .item-list-three .item-preview > img {
        min-width: 386px;
        min-height: 464px;
    }
    .block-list .ct-item-list .item-list-three .item-title h4, .block-list .ct-item-list .item-list-four .item-title h4 {
        font-size: 16px;
    }
    .block-list .ct-item-list .item-list-three .item-title .price, .block-list .ct-item-list .item-list-three .item-title .price-sale, .block-list .ct-item-list .item-list-four .item-title .price, .block-list .ct-item-list .item-list-four .item-title .price-sale {
        font-size: 18px;
    }
    .block-list .ct-item-list .item-list-three .item-new {
        top: 20px;
        right: -25px;
        width: 48px;
        height: 48px;
        border: 2px solid #ffffff;
    }
    .block-list .ct-item-list .item-list-three .item-new > p, .block-list .ct-item-list .item-list-four .item-new > p {
        margin-top: -8px;
        font-size: 14px;
    }
    .block-list .ct-item-list .item-list-four {
        width: 95%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-four > li {
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-four .choose-design .choose-design-text {
        font-size: 20px;
    }
    .block-list .ct-item-list .item-list-four .item-preview {
        min-height: 335px;
    }
    .block-list .ct-item-list .item-list-four .item-preview > img {
        min-width: 279px;
        min-height: 335px;
    }
    .block-list .ct-item-list .item-list-four .item-new {
        top: 15px;
        right: -25px;
        width: 48px;
        height: 48px;
    }
    .block-list .ct-item-list .item-list-six {
        width: 100%;
        padding: 0;
    }
    .block-list .ct-item-list .item-list-six > li {
        padding-right: 20px;
        padding-left: 10px;
    }
    .block-list .ct-item-list .item-list-six .choose-design .choose-design-text {
        font-size: 16px;
    }
    .block-list .ct-item-list .item-list-six .item-preview {
        min-height: 233px;
    }
    .block-list .ct-item-list .item-list-six .item-preview > img {
        min-width: 194px;
        min-height: 233px;
    }
    .block-list .ct-item-list .item-list-six .item-new {
        top: 10px;
        right: -19px;
        width: 38px;
        height: 38px;
    }
    .block-list .ct-item-list .item-list-six .item-new > p {
        margin-top: -7px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .header {
        display: block;
        margin-top: -50px;
    }
    .billboard {
        margin: -61px auto 0 auto;
    }
    .billboard .designer > li {
        height: 300px;
    }
    .billboard .designer .block-idesigner {
        display: block;
        top: 80px;
        left: 30px;
    }
    .billboard .designer .block-idesigner .logo-idesigner {
        font-size: 32px;
    }
    .billboard .designer .block-idesigner .logo-itailor {
        font-size: 20px;
    }
    .billboard .designer .block-shirt, .billboard .designer .block-suit, .billboard .designer .block-jacket, .billboard .designer .block-pant {
        background-size: 110% auto;
    }
    .billboard .designer .block-caption {
        top: 135px;
        right: 95px;
        bottom: auto;
        left: auto;
    }
    .billboard .designer .block-caption .header-designer {
        font-size: 48px;
        letter-spacing: 7px;
    }
    .billboard .designer .block-caption .sub-designer {
        font-size: 16px;
        letter-spacing: 3px;
    }
    .billboard .arrow {
        width: 32px;
    }
    .billboard .arrow-prev {
        background-position: 50% 42%;
    }
    .billboard .arrow-next {
        background-position: 50% 42%;
    }
    .billboard .menu-filter {
        opacity: 1;
    }
    .billboard .menu-filter .group-filter .group {
        margin: 0 18px;
    }
    .billboard .menu-filter .group-filter > div .group-block {
        max-width: 1280px;
    }
    .billboard .menu-filter .group-filter .group > ul > li input[type="checkbox"] + label {
        font-size: 14px;
    }
    .billboard .menu-filter .group-filter .nav-type {
        display: block;
        text-align: center;
    }
    .billboard .menu-filter .group-filter .nav-type .menu-type {
        width: auto;
    }
    .billboard .menu-filter .group-filter .nav-type .menu-type > li {
        margin: 5px 26px;
    }
    .block-list {
        background: #F1EAE1 url("../images/web/bg-shirt.jpg") no-repeat;
        background-position: center top;
    }
    .block-list .header-list .total-caption {
        display: block;
        float: left;
        font-size: 11px;
    }
    .block-list .header-list .view-sort {
        float: right;
    }
    .block-list .header-list .title {
        font-size: 11px;
    }
    .block-list .header-list-two, .block-list .header-list-three, .block-list .header-list-four {
        width: 95%;
        padding-right: 10px;
        padding-left: 10px;
    }
    .block-list .header-list-two > li, .block-list .header-list-three > li {
        padding-right: 10px;
        padding-left: 10px;
    }
    .block-list .header-list-four > li {
        padding-right: 5px;
        padding-left: 5px;
    }
    .block-list .header-list-six {
        width: 100%;
    }
    .block-list .header-list-six > li {
        padding-right: 4px;
        padding-left: 4px;
    }
    .block-list .view-size .view-title {
        font-size: 12px;
    }
    .block-list .header-list .view-sort .view-size .view-one {
        display: none;
    }
    .block-list .header-list .view-sort .view-size .view-four, .block-list .header-list .view-sort .view-size .view-six {
        display: inline-block;
    }
    .block-list .ct-item-list .item-list .choose-design:hover {
        opacity: 1;
    }
    .block-list .ct-item-list .item-list > li:hover .choose-design .choose-design-text {
        top: 45%;
    }
    .block-list .ct-item-list .item-list-two {
        padding-right: 40px;
        padding-left: 40px;
    }
    .block-list .ct-item-list .item-list-two > li {
        padding-right: 40px;
        padding-left: 40px;
    }
    .block-list .ct-item-list .item-list-two .shirt .choose-design .fabric-preview img {
        top: 0;
        left: -15%;
        width: 130%;
        height: auto;
        margin-top: 0;
        margin-left: 0;
    }
    .block-list .ct-item-list .item-list-two .suit .choose-design .fabric-preview img {
        top: 0;
        left: -15%;
        width: 151%;
        height: auto;
        margin-top: 0;
        margin-left: 0;
    }
    .block-list .ct-item-list .item-list-two .choose-design .choose-design-text {
        font-size: 28px;
    }
    .block-list .ct-item-list .item-list-two .item-preview {
        min-height: 670px;
    }
    .block-list .ct-item-list .item-list-two .item-preview > img {
        min-width: 518px;
        min-height: 670px;
    }
    .block-list .ct-item-list .item-list-two .item-title h4 {
        font-size: 20px;
    }
    .block-list .ct-item-list .item-list-two .item-title .price, .block-list .ct-item-list .item-list-two .item-title .price-sale {
        font-size: 22px;
    }
    .block-list .ct-item-list .item-list-two .item-new {
        top: 20px;
        right: -29px;
        width: 58px;
        height: 58px;
    }
    .block-list .ct-item-list .item-list-two .item-new > p {
        margin-top: -11px;
        font-size: 18px;
    }
    .block-list .ct-item-list .item-list-three {
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-three > li {
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-three .shirt .choose-design .fabric-preview img, .block-list .ct-item-list .item-list-three .suit .choose-design .fabric-preview img {
        top: 0;
        left: -10%;
        width: 120%;
        height: auto;
        margin-top: 0;
        margin-left: 0;
    }
    .block-list .ct-item-list .item-list-three .choose-design .choose-design-text {
        font-size: 24px;
    }
    .block-list .ct-item-list .item-list-three .item-preview {
        min-height: 464px;
    }
    .block-list .ct-item-list .item-list-three .item-preview > img {
        min-width: 386px;
        min-height: 464px;
    }
    .block-list .ct-item-list .item-list-three .item-title h4, .block-list .ct-item-list .item-list-four .item-title h4 {
        font-size: 18px;
    }
    .block-list .ct-item-list .item-list-three .item-title .price, .block-list .ct-item-list .item-list-three .item-title .price-sale, .block-list .ct-item-list .item-list-four .item-title .price, .block-list .ct-item-list .item-list-four .item-title .price-sale {
        font-size: 20px;
    }
    .block-list .ct-item-list .item-list-three .item-new {
        top: 20px;
        right: -25px;
        width: 48px;
        height: 48px;
        border: 2px solid #ffffff;
    }
    .block-list .ct-item-list .item-list-three .item-new > p, .block-list .ct-item-list .item-list-four .item-new > p {
        margin-top: -8px;
        font-size: 14px;
    }
    .block-list .ct-item-list .item-list-four {
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-four > li {
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-four .choose-design .choose-design-text {
        font-size: 20px;
    }
    .block-list .ct-item-list .item-list-four .item-preview {
        min-height: 335px;
    }
    .block-list .ct-item-list .item-list-four .item-preview > img {
        min-width: 279px;
        min-height: 335px;
    }
    .block-list .ct-item-list .item-list-four .item-new {
        top: 15px;
        right: -25px;
        width: 48px;
        height: 48px;
    }
    .block-list .ct-item-list .item-list-six {
        width: 100%;
        padding: 0;
    }
    .block-list .ct-item-list .item-list-six > li {
        padding-right: 20px;
        padding-left: 10px;
    }
    .block-list .ct-item-list .item-list-six .choose-design .choose-design-text {
        font-size: 16px;
    }
    .block-list .ct-item-list .item-list-six .item-preview {
        min-height: 233px;
    }
    .block-list .ct-item-list .item-list-six .item-preview > img {
        min-width: 194px;
        min-height: 233px;
    }
    .block-list .ct-item-list .item-list-six .item-new {
        top: 10px;
        right: -19px;
        width: 38px;
        height: 38px;
    }
    .block-list .ct-item-list .item-list-six .item-new > p {
        margin-top: -7px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 1920px) {
    .header {
        display: block;
        margin-top: -50px;
    }
    .billboard {
        margin: -61px auto 0 auto;
    }
    .billboard .designer > li {
        height: 300px;
    }
    .billboard .designer .block-idesigner {
        display: block;
        top: 80px;
        left: 160px;
    }
    .billboard .designer .block-idesigner .logo-idesigner {
        font-size: 32px;
    }
    .billboard .designer .block-idesigner .logo-itailor {
        font-size: 20px;
    }
    .billboard .designer .block-shirt, .billboard .designer .block-suit, .billboard .designer .block-jacket, .billboard .designer .block-pant {
        background-size: 100% auto;
    }
    .billboard .designer .block-caption {
        top: 130px;
        right: 230px;
        bottom: auto;
        left: auto;
    }
    .billboard .designer .block-caption .header-designer {
        font-size: 50px;
        letter-spacing: 7px;
    }
    .billboard .designer .block-caption .sub-designer {
        font-size: 17px;
        letter-spacing: 3px;
    }
    .billboard .arrow {
        width: 32px;
    }
    .billboard .arrow-prev {
        left: 164px;
        background-position: 50% 42%;
    }
    .billboard .arrow-next {
        right: 164px;
        background-position: 50% 42%;
    }
    .billboard .menu-filter {
        opacity: 1;
    }
    .billboard .menu-filter .group-filter .group {
        margin: 0 18px;
    }
    .billboard .menu-filter .group-filter > div .group-block {
        max-width: 1280px;
    }
    .billboard .menu-filter .group-filter .group > ul > li input[type="checkbox"] + label {
        font-size: 14px;
    }
    .billboard .menu-filter .group-filter .nav-type {
        display: block;
        text-align: center;
    }
    .billboard .menu-filter .group-filter .nav-type .menu-type {
        width: auto;
    }
    .billboard .menu-filter .group-filter .nav-type .menu-type > li {
        margin: 5px 26px;
    }
    .block-list {
        background: #F1EAE1 url("../images/web/bg-shirt.jpg") no-repeat;
        background-position: center top;
    }
    .block-list .header-list .total-caption {
        display: block;
        float: left;
        font-size: 11px;
    }
    .block-list .header-list .view-sort {
        float: right;
    }
    .block-list .header-list .title {
        font-size: 11px;
    }
    .block-list .header-list-two, .block-list .header-list-three, .block-list .header-list-four {
        width: 95%;
        padding-right: 10px;
        padding-left: 10px;
    }
    .block-list .header-list-two > li, .block-list .header-list-three > li, .block-list .header-list-four > li {
        padding-right: 10px;
        padding-left: 10px;
    }
    .block-list .header-list-six {
        width: 100%;
    }
    .block-list .header-list-six > li {
        padding-right: 4px;
        padding-left: 4px;
    }
    .block-list .view-size .view-title {
        font-size: 12px;
    }
    .block-list .header-list .view-sort .view-size .view-one {
        display: none;
    }
    .block-list .header-list .view-sort .view-size .view-four, .block-list .header-list .view-sort .view-size .view-six {
        display: inline-block;
    }
    .block-list .ct-item-list .item-list .choose-design:hover {
        opacity: 1;
    }
    .block-list .ct-item-list .item-list > li:hover .choose-design .choose-design-text {
        top: 45%;
    }
    .block-list .ct-item-list .item-list-two {
        padding-right: 40px;
        padding-left: 40px;
    }
    .block-list .ct-item-list .item-list-two > li {
        padding-right: 40px;
        padding-left: 40px;
    }
    .block-list .ct-item-list .item-list-two .shirt .choose-design .fabric-preview img {
        top: 0;
        left: -15%;
        width: 130%;
        height: auto;
        margin-top: 0;
        margin-left: 0;
    }
    .block-list .ct-item-list .item-list-two .suit .choose-design .fabric-preview img {
        top: 0;
        left: -15%;
        width: 151%;
        height: auto;
        margin-top: 0;
        margin-left: 0;
    }
    .block-list .ct-item-list .item-list-two .choose-design .choose-design-text {
        font-size: 28px;
    }
    .block-list .ct-item-list .item-list-two .item-preview {
        min-height: 670px;
    }
    .block-list .ct-item-list .item-list-two .item-preview > img {
        min-width: 518px;
        min-height: 670px;
    }
    .block-list .ct-item-list .item-list-two .item-title h4 {
        font-size: 20px;
    }
    .block-list .ct-item-list .item-list-two .item-title .price, .block-list .ct-item-list .item-list-two .item-title .price-sale {
        font-size: 22px;
    }
    .block-list .ct-item-list .item-list-two .item-new {
        top: 20px;
        right: -29px;
        width: 58px;
        height: 58px;
    }
    .block-list .ct-item-list .item-list-two .item-new > p {
        margin-top: -11px;
        font-size: 18px;
    }
    .block-list .ct-item-list .item-list-three {
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-three > li {
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-three .shirt .choose-design .fabric-preview img, .block-list .ct-item-list .item-list-three .suit .choose-design .fabric-preview img {
        top: 0;
        left: -10%;
        width: 120%;
        height: auto;
        margin-top: 0;
        margin-left: 0;
    }
    .block-list .ct-item-list .item-list-three .choose-design .choose-design-text {
        font-size: 24px;
    }
    .block-list .ct-item-list .item-list-three .item-preview {
        min-height: 464px;
    }
    .block-list .ct-item-list .item-list-three .item-preview > img {
        min-width: 386px;
        min-height: 464px;
    }
    .block-list .ct-item-list .item-list-three .item-title h4, .block-list .ct-item-list .item-list-four .item-title h4 {
        font-size: 18px;
    }
    .block-list .ct-item-list .item-list-three .item-title .price, .block-list .ct-item-list .item-list-three .item-title .price-sale, .block-list .ct-item-list .item-list-four .item-title .price, .block-list .ct-item-list .item-list-four .item-title .price-sale {
        font-size: 20px;
    }
    .block-list .ct-item-list .item-list-three .item-new {
        top: 20px;
        right: -25px;
        width: 48px;
        height: 48px;
        border: 2px solid #ffffff;
    }
    .block-list .ct-item-list .item-list-three .item-new > p {
        margin-top: -8px;
        font-size: 14px;
    }
    .block-list .ct-item-list .item-list-four {
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-four > li {
        padding-right: 20px;
        padding-left: 20px;
    }
    .block-list .ct-item-list .item-list-four .choose-design .choose-design-text {
        font-size: 20px;
    }
    .block-list .ct-item-list .item-list-four .item-preview {
        min-height: 384px;
    }
    .block-list .ct-item-list .item-list-four .item-preview > img {
        min-width: 279px;
        min-height: 335px;
    }
    .block-list .ct-item-list .item-list-four .item-new {
        top: 15px;
        right: -25px;
        width: 48px;
        height: 48px;
    }
    .block-list .ct-item-list .item-list-four .item-new > p {
        margin-top: -8px;
        font-size: 14px;
    }
    .block-list .ct-item-list .item-list-six {
        padding: 0;
    }
    .block-list .ct-item-list .item-list-six > li {
        padding-right: 20px;
        padding-left: 10px;
    }
    .block-list .ct-item-list .item-list-six .choose-design .choose-design-text {
        font-size: 16px;
    }
    .block-list .ct-item-list .item-list-six .item-preview {
        min-height: 233px;
    }
    .block-list .ct-item-list .item-list-six .item-preview > img {
        min-width: 194px;
        min-height: 233px;
    }
    .block-list .ct-item-list .item-list-six .item-new {
        top: 10px;
        right: -19px;
        width: 38px;
        height: 38px;
    }
    .block-list .ct-item-list .item-list-six .item-new > p {
        margin-top: -7px;
        font-size: 12px;
    }
}