.header-page {
    z-index: 99;
    position: relative;
    top: 0px;
    height: 50px;
    line-height: 50px;
    background: rgba(16, 5, 0, 0.82);
    text-align: center;
    -webkit-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}
.header-page h1 {
    font-family: "Century Gothic";
    color: #ffffff;
    font-size: 26px;
    font-weight: 500;
    text-shadow: none;
}
.header-page .button-menu {
    position: absolute;
    top: 12px;
    left: 10px;
    padding: 2px 5px;
    -webkit-transition: border-color 0.25s linear 0s;
    transition: border-color 0.25s linear 0s;
}
.header-page .button-menu:hover {
    border-color: #c9c9c9;
}
.header-page .button-menu > div {
    width: 24px;
    height: 4px;
    margin: 3px 0;
    background: #ffffff;
    -webkit-transition: background-color 0.25s linear 0s;
    transition: background-color 0.25s linear 0s;
}
.header-page .button-menu:hover > div {
    background: #46D5FE;
}
.footer-page {
    margin: 15px auto 5px auto;
    width: 100%;
    text-align: center;
}
.footer-page .copyright {
    display: block;
    width: 90%;
    margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
    .header-page {
        top: -50px;
    }
}