.side-menu {
    position: absolute;
    z-index: 99;
    width: 250px;
    height: 100%;
    background: rgba(16, 5, 0, 0.82);
    color: #ffffff;
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
    -webkit-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}
.side-menu-toggled {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.side-menu .menu-side-nav > div > h2 {
    padding: 5px 0;
    letter-spacing: 2px;
    text-align: center;
}
.side-menu .menu-side-nav > div > ul > li {
    padding: 2px 0;
    list-style: none;
}
.side-menu .menu-side-nav > div > ul > li a {
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 16px;
}
.side-menu .menu-side-nav > div > ul > li a.coming-soon {
    color: rgba(255, 255, 255, 0.5);
}
.side-menu .menu-side-nav .product-side-menu-nav .product-side-menu {
    height: 0px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: height 300ms ease 0s;
    transition: height 300ms ease 0s;
}
.side-menu .menu-side-nav .product-side-menu-nav .product-side-menu-toggled {
    height: 264px;
    margin: 0 15px 5px;
    opacity: 1;
}
.side-menu .menu-side-nav .type-side-menu-nav {
    border-top: 1px solid rgba(204, 203, 203, 0.52);
}
.side-menu .menu-side-nav .type-side-menu-nav .type-side-menu {
    height: 0px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: height 300ms ease 0s;
    transition: height 300ms ease 0s;
}
.side-menu .menu-side-nav .type-side-menu-nav .type-side-menu-toggled {
    height: 192px;
    margin: 0 15px 5px;
    opacity: 1;
}
.side-menu .group-product .group {
    margin: 5px 15px;
    border-top: 1px solid rgba(204, 203, 203, 0.52);
}
.side-menu .group-product .group h4 {
    padding: 5px 0;
    font-family: "Century Gothic";
    text-align: center;
    letter-spacing: 2px;
}
.side-menu .group-product .group > ul > li {
    padding: 2px 0;
    list-style: none;
}
.side-menu .group-product .group > ul > li input[type="checkbox"] {
    display: none;
}
.side-menu .group-product .group > ul > li input[type="checkbox"]+label {
    font-family: "Century Gothic";
    font-size: 16px;
    letter-spacing: 1px;
}
.side-menu .group-product .group > ul > li input[type="checkbox"]+label:before {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background: rgba(255, 255, 255, 0.5);
    vertical-align: middle;
    content: "";
}
.side-menu .group-product .group > ul > li input[type="checkbox"].white+label:before {
    background: #ffffff;
}
.side-menu .group-product .group > ul > li input[type="checkbox"].navy+label:before {
    background: #11354e;
}
.side-menu .group-product .group > ul > li input[type="checkbox"].orange+label:before {
    background: #d65c0a;
}
.side-menu .group-product .group > ul > li input[type="checkbox"].green+label:before {
    background: #1b6f12;
}
.side-menu .group-product .group > ul > li input[type="checkbox"].red+label:before {
    background: #bb1111;
}
.side-menu .group-product .group > ul > li input[type="checkbox"].blue+label:before {
    background: #98d0f7;
}
.side-menu .group-product .group > ul > li input[type="checkbox"].purple+label:before {
    background: #6e398c;
}
.side-menu .group-product .group > ul > li input[type="checkbox"]:checked+label:before {
    background-image: url("../images/billboard/checked.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}
.side-menu .group-product .refine-menu {
    border-top: 1px solid rgba(204, 203, 203, 0.52);
    text-align: center;
}
.side-menu .group-product .refine-menu h2 {
    padding: 5px 0;
    letter-spacing: 2px;
}
.side-menu .group-product .refine-menu .clear-button {
    width: 100px;
    margin: 5px auto;
    padding: 4px 0;
    background: rgba(86, 86, 86, 0.26);
    border: 1px solid #797777;
    border-radius: 4px;
    font-weight: bold;
}
.side-menu .group-product .sleeve-group {
    margin-top: 15px;
}

@media only screen and (min-width: 768px) {
    .side-menu {
        top: 50px;
    }
}