.spacer {clear: both; height: 0px;}

#popup-all-product-v2 {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 5px;
    left: 0;
    width: 95%;
    max-width: 1360px;
    margin: 0 auto;
    background-color: rgba(8, 8, 8, 0.78);
    color: #FFFFFF;
    overflow: hidden;
}
#popup-all-product-v2 .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background 0.5s linear 0s;
    transition: background 0.5s linear 0s;
}
#popup-all-product-v2 h1 {
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
}
#popup-all-product-v2 .nav {
    width: 90%;
    margin: 15px auto;
    font-weight: bold;
}
#popup-all-product-v2 .continue-shopping {
    float: left;
    font-size: 6px;
    line-height: 20px;
    text-transform: uppercase;
}
#popup-all-product-v2 .check-out a {
    float: right;
    padding: 5px;
    border: 1px solid #b4f868;
    color: #b4f868;
    font-size: 6px;
    text-transform: uppercase;
}
#popup-all-product-v2 .all-product-height {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 75%;
}
#popup-all-product-v2 .all-product {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 5px;
    overflow: auto;
}
#popup-all-product-v2 .all-product-link {
    width: 98%;
    margin: 0 auto;
}
#popup-all-product-v2 .all-product-link > li {
    float: left;
    width: 50%;
    list-style: none;
}
#popup-all-product-v2 .product-preview {
    position: relative;
    overflow: hidden;
}
#popup-all-product-v2 .product-preview > div {
    min-height: 115px;
    width: 100%;
}
#popup-all-product-v2 .product-preview > div img {
    display: block;
    min-width: 142px;
    min-height: 115px;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
#popup-all-product-v2 .product-preview:hover img {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}
#popup-all-product-v2 .product-preview figcaption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    margin: auto;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-shadow: 0 1px 2px #000;
    text-transform: uppercase;
    color: #fff;
}
.product-preview figcaption > div {
    font-family: "Century-Regular";
    color: #FE3A14;
}
.product-preview figcaption .regular-price {
    font-size: 14px;
    color: #46D5FE;
}
.product-preview figcaption .price {
    font-size: 16px;
    font-weight: bold;
}
#popup-all-product-v2 .gift-card-link {
    width: 100%;
    margin-top: 25px;
    text-align: center;
}
#popup-all-product-v2 .gift-preview {
    position: relative;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}
#popup-all-product-v2 .gift-preview img {
    display: block;
    width: 100%;
    height: auto;
}
#popup-all-product-v2 .gift-preview figcaption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 93%;
    margin: auto;
}
#popup-all-product-v2 .gift-preview .gift-teaser {
    padding: 3px;
}
#popup-all-product-v2 .gift-preview .gift-teaser h3 {
    color: #ACE6FC;
}
#popup-all-product-v2 .gift-preview .gift-teaser p {
    display: none;
    padding-left: 24px;
    padding-right: 10px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-align: left;
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
    #popup-all-product-v2 .close {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    #popup-all-product-v2 h1 {
        font-size: 24px;
    }
    #popup-all-product-v2 .nav {
        width: 80%;
        margin-top: 20px;
    }
    #popup-all-product-v2 .continue-shopping {
        font-size: 14px;
    }
    #popup-all-product-v2 .check-out a {
        font-size: 14px;
    }
    #popup-all-product-v2 .all-product-link > li {
        width: 33.33%;
    }
    #popup-all-product-v2 .product-preview > div {
        min-height: 157px;
    }
    #popup-all-product-v2 .product-preview > div img {
        min-width: 194px;
        min-height: 157px;
    }
    #popup-all-product-v2 .gift-preview {
        width: 75%;
    }
    #popup-all-product-v2 .gift-preview figcaption {
        height: 100%;
    }
    #popup-all-product-v2 .gift-preview .gift-teaser p {
        display: block;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    #popup-all-product-v2 .close {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    #popup-all-product-v2 h1 {
        font-size: 28px;
    }
    #popup-all-product-v2 .nav {
        width: 80%;
        margin-top: 20px;
    }
    #popup-all-product-v2 .continue-shopping {
        font-size: 18px;
    }
    #popup-all-product-v2 .check-out a {
        font-size: 18px;
    }
    #popup-all-product-v2 .all-product {
        margin-top: 15px;
    }
    #popup-all-product-v2 .all-product-link > li {
        width: 33.33%;
    }
    #popup-all-product-v2 .product-preview > div {
        min-height: 253px;
    }
    #popup-all-product-v2 .product-preview > div img {
        min-width: 313px;
        min-height: 253px;
    }
    #popup-all-product-v2 .product-preview figcaption {
        height: 30%;
        font-size: 18px;
    }
    #popup-all-product-v2 .product-preview figcaption .regular-price {
        font-size: 18px;
    }
    #popup-all-product-v2 .product-preview figcaption .price {
        font-size: 22px;
    }
    #popup-all-product-v2 .gift-preview {
        width: 60%;
    }
    #popup-all-product-v2 .gift-preview .gift-teaser h3 {
        margin-top: 10px;
        font-size: 20px;
    }
    #popup-all-product-v2 .gift-preview figcaption {
        height: 100%;
    }
    #popup-all-product-v2 .gift-preview .gift-teaser p {
        display: block;
        font-size: 14px;
    }
}

@media only screen and (min-width: 1280px) {
    #popup-all-product-v2 .close {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    #popup-all-product-v2 h1 {
        font-size: 28px;
    }
    #popup-all-product-v2 .nav {
        width: 80%;
        margin-top: 20px;
    }
    #popup-all-product-v2 .continue-shopping {
        font-size: 18px;
    }
    #popup-all-product-v2 .check-out a {
        font-size: 18px;
    }
    #popup-all-product-v2 .all-product {
        margin-top: 15px;
    }
    #popup-all-product-v2 .all-product-link > li {
        width: 25%;
    }
    #popup-all-product-v2 .product-preview > div {
        min-height: 238px;
    }
    #popup-all-product-v2 .product-preview > div img {
        min-width: 295px;
        min-height: 238px;
    }
    #popup-all-product-v2 .product-preview figcaption {
        height: 30%;
        font-size: 18px;
    }
    #popup-all-product-v2 .product-preview figcaption .regular-price {
        font-size: 18px;
    }
    #popup-all-product-v2 .product-preview figcaption .price {
        font-size: 22px;
    }
    #popup-all-product-v2 .gift-preview {
        width: 55%;
    }
    #popup-all-product-v2 .gift-preview .gift-teaser h3 {
        margin-top: 10px;
        font-size: 20px;
    }
    #popup-all-product-v2 .gift-preview figcaption {
        height: 100%;
    }
    #popup-all-product-v2 .gift-preview .gift-teaser p {
        display: block;
        font-size: 14px;
    }
}