* {box-sizing: border-box;margin: 0;padding: 0;}
*:before, *:after {box-sizing: border-box;}
h1,h2,h3{font-style: normal}
a{text-decoration: none;}
ul,ol{list-style: none}

.w100{width: 100%}
.w95{width: 95%}
.w90{width: 90%}
.w80{width: 80%}
.w70{width: 70%}
.w60{width: 60%}
.w55{width: 55%}
.w50{width: 50%}
.w45{width: 45%}
.w40{width: 40%}
.w35{width: 35%}
.w30{width: 30%}
.w25{width: 25%}
.w20{width: 20%}
.w10{width: 10%}
.w5{width: 5%}

.fb{font-weight: bold}
.fl{float: left}
.fr{float: right}
.clear{clear: both}
.ma{margin: auto}
.cursor{cursor: pointer}

.txt-left{text-align: left}
.txt-center{text-align: center}
.txt-right{text-align: right}
.align-top{vertical-align: top !important}

.dpNone{display: none}

/*-------------------------------------------------------
 * SET Defailts Document
 *------------------------------------------------------*/
html{-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-o-user-select: none;user-select: none;}
body{font-size: 100%;font-weight: normal;}