<div class="message" style="width: 500px;padding: 24px 0">
    <div>
        <p data-lang="switch">Are you sure want to leave The 3Piece Suit ?</p>
        <p data-lang="switchl2">Your selection will not be save.</p>
    </div>
    <div>
        <div data-lang="ok" data-status="yes" class="btn btnClose btnBlue" style="width: 30%;margin: 10px 0;padding: 10px 25px">OK</div>
        <div data-lang="no" class="btn btnClose" style="width: 30%;margin: 10px 0;padding: 10px 25px">No</div>
    </div>
</div>