/*----------------------------------------------
 * CSS DESIGN JEAN
 *----------------------------------------------*/
li,ol{list-style: none}
.line{border-color: rgba(255, 255, 255, 0.3);border-style: solid none none;border-width: 1px 0 0;height: 0.5%;margin: 11% 2% auto;text-indent: -9999px;}

html{font-family:ProximaNova;line-height: 1.5;font-style: normal;color: #FFF;background-color: #000}
body{background: url("../../../images/Models/Jean/Background/Background1920.jpg") no-repeat center top rgba(0, 0, 0, .8);}
a{color: rgba(255,255,255,.95)}
#container{position: relative;width: 1024px;min-height: 680px;margin: auto;background: url("../../../images/Models/Jean/Background/Background1024.jpg") no-repeat scroll right  top;}
.toolbar .menuRight li:last-child, .toolbar{height: 30px}
.toolbar .menuLeft li{background: none}

/*----------------------------------------------
 *preload
 *----------------------------------------------*/
.preload{position: fixed;width: 100%;height: 100%;left: 0;top:0;background: #000;z-index: 99999;margin: auto}
.preload .preload-main{width: 37%;max-width: 500px;position: relative;margin: auto;top:33.2%;text-align: center;}
.preload .preload-main div{height: 3px;background:rgba(255, 255, 255, 0.1);border-radius:2px;text-align: center;position: relative;margin-top: 5%;margin-bottom: 5%}
.preload .percent-bar-preload{height: 3px;background: #FFFFFF!important;margin: auto;border-radius:2px;width: 0px}
.preload .percent-txt-preload{font-weight: 100;text-shadow: 0 0 5px yellow}
#preloadingDesign{height: 45px;position: absolute;right: 55%;top: 49%;width: 45px;z-index: 999;background: url("../../../itailor-data/webroot/img/icon/sprites.png") no-repeat scroll top;background-position: 0 0}

#logo-itailor{text-align: center;width: 100%;padding-top: 15%;margin-bottom: 3%}

/*----------------------------------------------
 * MENU MAIN
 *----------------------------------------------*/
#menu{float: left;width: 29%;overflow: hidden; height: 1000px;margin-right: 3%;position: relative;clear: both;white-space: nowrap;font-size: 80%;text-transform: capitalize;letter-spacing: .5px}
#menu a{color: #dbd8c1;}
#menu-main,#tab-measurement{background:rgba(0, 6, 11,.7);}
#menu-main{width: 50%;height: 100%;position: relative;}
#menu-main .layout-sub-menuMain{left: 100%; position: absolute; width: 100%; padding-top: 100%; height: 100%;overflow: hidden}
#menu-main .layout-sub-menuMain > div{position: relative; height: 100%; width: 100%;overflow: hidden;}
#menu li{cursor: pointer;margin: 10% 0;overflow: hidden;padding: 2.5% 5%;position: relative;overflow: hidden;text-overflow: ellipsis}
#menu #menu-main > ul{text-transform: uppercase}
#menu #menu-main > ul > li >span:first-child{font-family:Century-Regular;margin-right: 3%}
#menu #menu-main > ul > li.active{background:rgba(255, 255, 255, 0.1);}
#menu #menu-main > ul > li:not(.active):hover{background:rgba(255, 255, 255, 0.02);}
#menu li p:nth-child(1){margin-bottom: 5%}

#menu .slide-product{text-align: center;margin: 8% 0}
#menu .slide-product img{border: 1px solid rgba(255, 255, 255, .5);width: 85%}
#menu .slide-product .price{color: red}
#menu .slide-product .str{color: skyblue}

/*submenu*/
.bg-sub-menu-main{ background:rgba(23,5, 6,.8);height: 100%;width: 100%;left: 100%;position: absolute;text-indent: -99999px}
#menu .sub-menu-main{height: 100%;position: absolute;width: 100%;overflow: hidden;}
#menu .sub-menu-main ul{list-style: none;display: none}
#menu .sub-menu-main ul:nth-child(1){text-align: center;margin-top: 19%}
#menu .sub-menu-main ul:nth-child(2){margin-top: 50%}
#menu .sub-menu-main ul:nth-child(3){padding-top: 69%}
#menu .sub-menu-main ul:nth-child(4){padding-top: 95%;}
#menu .sub-menu-main li.active{background: rgba(0,0,0,.5)}
#menu .sub-menu-main li:not(.active):hover{background: rgba(0,0,0,.2)}
#menu .sub-menu-main ul.fabric p:last-child{color: red;font-weight: bold;font-size: 110%}
/*#menu .sub-menu-main ul.fabric .category-price{color: #46d5fe;position: relative;margin: 0 1%;font-size: 90%}*/
/*#menu .sub-menu-main ul.fabric .category-price:after{position: absolute;top:0;bottom: 0;left: 0;right: 0;margin: auto;width: 100%;height: 1px;content: "";background: #FFF;}*/
#menu li:hover ul{color: #dbd8c1;}
#menu-fabric ul:last-child{text-align: center}

#shipping-bag-main{text-align: right;padding: 3%;position: relative;min-height: 6%;font-size: 80%}
#shipping-bag-main p{padding: 3%}
.txt-checkout{cursor: pointer;text-align: center;padding: 2% 0 2% 0;background: url("../../../itailor-data/webroot/img/bg/bg-checkout.png") no-repeat scroll center top;color: #d6d6d6}
.txt-checkout:hover{color: #FFF;text-shadow: 0px 0px 0px #FFF;}

/*----------------------------------------------
 * MAIN DESIGN
 *----------------------------------------------*/
#design-main-box{overflow: hidden}
.tab-main{width: 68%;float: left;position: relative;height: 100%}
#design-main-detail{width: 360px;height: 300px;float: left;margin-top: 5%;}
#design-main-detail #menu-l{height: 90%;position: relative;text-shadow: 0 1px 2px #000}
#design-main-detail #menu-l ul{height: 240px;margin: auto;padding: 2%;width: 300px;}
#design-main-detail #menu-l > ul > li{display: none}
#design-main-detail #menu-l img{position: absolute}
#design-main-detail #menu-l .detail{position: absolute;right: 15%;text-align: right;top: 20%;font-weight: bold;z-index: 1}
#design-main-detail #menu-l .detail p:first-child{color: greenyellow;font-size: 140%;}
#design-main-detail #menu-l .detail p:last-child{font-size: 130%;}
#design-main-detail #menu-l #monogram-str{top:75%;position: absolute;text-align: center;width: 75%;font-size: 145%;z-index: 9}
#design-main-detail #menu-l .CoinPocket{top:45%!important}
#design-main-detail #menu-l .BackPocket{top:25%!important;transform: rotate(-21deg);-ms-transform: rotate(-21deg);-webkit-transform: rotate(-21deg);-o-transform: rotate(-21deg);-moz-transform: rotate(-21deg);}

#design-main-detail #menu-l li[data-menu="fabric"] .detail p{color: red}
#design-main-detail #menu-l li[data-menu="fabric"] .detail p:first-child{font-weight: normal;font-size: 110%}

#design-main-detail .layout-button{clear: both;color: #4edf5c;font-size: 115%;font-weight: bold;margin: auto;width: 95%;}
#design-main-detail .layout-button .btn{cursor: pointer}
#design-main-detail .layout-button .btn:last-child{float: right;animation: 3s linear 0s normal none infinite txtGrow;}

#design-main .main-3design{position: relative;float: left;overflow: hidden;width: 300px;height: 450px}
#design-main .main-3design li:last-child{display: none}
#design-main .main-3design li img{position: absolute;width: 300px;height: 450px;left: 0px;top:10px}
#design-main .main-3design #monogram-str-main{position: absolute;z-index: 10;font-size: 50%;top:18%;left: 25%}
#design-main .main-3design .CoinPocket{left: 24% !important;top: 12% !important;transform: rotate(21deg);-ms-transform: rotate(21deg);-webkit-transform: rotate(21deg);-o-transform: rotate(21deg);-moz-transform: rotate(21deg);}
#design-main .main-3design .BackPocket{left: 63% !important;top: 21% !important}

.layout-opion-detail{position: absolute;right: 0%;text-align: right;top: 5%;width: 300px;}
.layout-opion-detail .layout-price{background: url("../../../images/Models/Jean/MainBody/Label.png");width: 91px;height: 51px;display: inline-block;overflow: hidden;text-align: center;vertical-align: middle;line-height: 51px;font-weight: bold;font-size: 160%;letter-spacing: 2px;text-shadow: 0 1px 2px #000}
.layout-opion-detail #layout-box-view{position: absolute;right: 0;top:145%;font-size: 80%}
.layout-opion-detail #layout-box-view ul{list-style: none}
.layout-opion-detail #layout-box-view li{cursor: pointer;height: 115px;position: relative;text-align: center;width: 85px;}

/*----------------------------------------------
 * MENU S
 *----------------------------------------------*/
.layout-menu-s{width: 100%;min-height: 200px;float: left;overflow: hidden;position: relative;}
.layout-menu-s .tab-menu-s{display: none}
.layout-menu-s .title{font-size: 95%;margin-bottom: 5px;overflow: hidden;text-overflow: ellipsis;text-shadow: 0 1px 2px #000;white-space: nowrap;font-weight: bold;text-transform: capitalize}
.layout-menu-s .title > div{display: inline-block;vertical-align: middle}
.layout-menu-s .title .arrow{background: url("../../../itailor-data/webroot/img/icon/Arrow-2.png");width: 18px;height: 14px;}
.layout-menu-s .list-item{display: inline-block;width: 100%;margin-bottom: 5%}
.layout-menu-s .list-item li{display: inline-block;width: 90px;height: 100px;cursor: pointer;margin-right: 2%;position: relative}
.layout-menu-s .list-item li .str{position: absolute;bottom: -25px;left: 0;right: 0;text-align: center;font-size: 90%}
.layout-menu-s .list-item li img{width: 100%;position: absolute}

.layout-menu-s [data-main="fabric"] li{width: 60px;height: 69px;}
.layout-menu-s [data-main="back"] li{width: 75px;height: 83px;margin-right: 1.7%}
.layout-menu-s [data-main="stitching"] li{width: 65px;height: 70px}
.layout-menu-s [data-main="lining"] li{width: 85px;height: 85px}
.layout-menu-s [data-main="monogramHole"] li{width: 23px;height: 26px}
.layout-menu-s .chk-item{background: url("../../../itailor-data/webroot/img/icon/CheckMarkBlue.png");width: 30px;height: 29px;position: absolute;right: 0;bottom: 0}
.layout-menu-s input[type="text"]{background: rgba(23, 5, 6,.3);border: 1px solid rgba(255, 255, 255, .3);border-radius: 2px;color: #fff;margin: 0 30px 15px;padding: 5px;width: 80%;}
.layout-menu-s input[type="text"]:focus{box-shadow: 0 0 15px #fff;animation: 3s linear 0s normal none infinite boxGrow;}
.layout-menu-s .wrinkle img{margin-left: 20px}

/*----------------------------------------------
 * MEASUREMENT
 *----------------------------------------------*/
#tab-measurement{float: left;height: 100%;padding: 2% 2% 1%;position: absolute;right: 0;text-align: left;width: 81%;color: #ecdc86;}
#tab-measurement .title{font-weight: bold;margin-top: 5%;font-size: 140%}
#tab-measurement .detail{width: 59%;padding: 0 1%}
#tab-measurement .detail .subTitle{line-height: 45px;overflow: hidden;text-transform: capitalize;vertical-align: middle;white-space: nowrap;}
#tab-measurement .detail .subTitle > div{float: left}
#tab-measurement .detail .subTitle > div.box-type-size{float: right;margin-right: 5%;text-transform: capitalize}
#tab-measurement .detail .subTitle lang{font-size: 80%}
#tab-measurement .detail .subTitle .subTitle-str ,#tab-measurement .media > p{color: #f1930a;font-weight: bold;text-transform: capitalize;letter-spacing: .5px}
#tab-measurement .detail .box-input{margin-top: 5%}
#tab-measurement .detail .box-input div{ clear: both;font-size: 85%;height: 30px;line-height: 30px;margin: 2% 0;vertical-align: middle;}
#tab-measurement .detail .box-input span{width: 35%;float: left;}
#tab-measurement .detail .box-input span:first-child{text-align: right;padding-right: 2%}
#tab-measurement .detail .box-input input{float: left;margin-right: 2%;color: #FFF;font-weight: bold}
#tab-measurement input[type="text"]{background: rgba(255, 255, 255, 0.2);border: 1px solid rgba(255, 255, 255,.5);color: rgba(255, 255, 255, 0.8);padding:1% 2%;border-radius: 2px;text-align: center;width: 90px;}
#tab-measurement input:focus[type="text"]{box-shadow: 0 0 15px #fff;animation: 3s linear 0s normal none infinite boxGrow;}
#tab-measurement .media{width:39%;}
#tab-measurement .media > div{min-height: 220px;width: 100%;display: inline-block;background-color: rgba(0,0,0,.5);border: 1px solid rgba(255, 255, 255, .5);padding: 1%;position: relative;overflow: hidden}
#tab-measurement .media > div img,#tab-measurement .media > div video{float: left;width: 100%}
#tab-measurement .media > div img{height: 97%;left: 0;margin: auto;position: absolute;right: 0;width: 98%;}
#tab-measurement .arrow{background: url("../../../itailor-data/webroot/img/icon/Arrow-2.png");width: 18px;height: 14px;display: inline-block;margin-top: 2.8%;margin-right: 5px}
#tab-measurement .layout-button{margin-top: 50%;font-size: 90%;}
#tab-measurement .layout-button .button-add-cart{display: inline-block;padding: 2% 5%;cursor: pointer;background: #39a724;color: #FFF;font-weight: 500;animation: 3s linear 0s normal none infinite boxGrow;}
#tab-measurement .layout-button .button-add-cart:hover{background:  rgba(0, 148, 178, 0.95);}
#tab-measurement .layout-button .qty-select-box{text-align: left}

/*----------------------------------------------
 * PUBRIC
 *----------------------------------------------*/

input[type="checkbox"],input[type="radio"]{display: none;}
input[type="checkbox"] + label {color: #f2f2f2;cursor: pointer;font-size: 90%;line-height: 29px;vertical-align: middle;white-space: nowrap;}
input[type="checkbox"] + label span{background: url("../../../itailor-data/webroot/img/icon/check_radio_sheet_full_color.png") no-repeat scroll left top rgba(0, 0, 0, 0);cursor: pointer;display: inline-block;height: 22px;margin: -1px 4px 0 0;vertical-align: middle;width: 22px;}
input[type="checkbox"] + label span:first-child {}
input[type="checkbox"]:checked + label span:first-child {background-position:-22px 0}

input[type="radio"] + label {color: #f2f2f2;cursor: pointer;font-size: 90%;line-height: 29px;vertical-align: middle;white-space: nowrap;}
input[type="radio"] + label span{background: url("../../../itailor-data/webroot/img/icon/icon-radio.png") no-repeat scroll left top rgba(0, 0, 0, 0);cursor: pointer;display: inline-block;height: 19px;margin: -1px 4px 0 0;vertical-align: middle;width: 20px;}
input[type="radio"] + label span:first-child {}
input[type="radio"]:checked + label span:first-child {background-position:-20px 0}
