/*==============================================================================
 *measurement
/*==============================================================================*/
#tab-measurement #tab-measurement-box{height: 100%;/*overflow:hidden;*/list-style: none;padding: 0 1%}
#tab-measurement #tab-measurement-box li{display: none;list-style: none;/*overflow: hidden*/}
#tab-measurement .title{text-align: center;margin-bottom: 5%;font-size: 100%;color: #FFC177}
#tab-measurement .tab{float: left;width: 45.9%;padding: 2%;font-size: 90%;white-space: normal;}
#tab-measurement .tab-border{border-right: 1px solid rgba(255, 255, 255, 0.3)}
.tab-measurement-detail{height: 40%;background:rgba(0, 0, 0, 0.5);max-height: 290px;overflow: hidden}

#tab-measurement .tab-body-size,#tab-measurement .tab-standard-size{background:rgba(0, 0, 0, 0.3);position: relative}
#tab-measurement .tab-body-size{width: 850px;height: 600px;padding: 1%}
#tab-measurement .tab-standard-size{width: 860px;height: 595px;padding: 1%}

/*Table Input*/
ul.measusrement-table{list-style: none;width: 80%}
ul.measusrement-table li{display: block!important;border:1px solid rgba(255,255,255,0.2);background:rgba(0, 0, 0, 0.5);float: left;width: 80px;margin-left: 1%}
ul.measusrement-table li p{text-align: center;font-size: 85%;position: relative}
ul.measusrement-table li p:first-child{margin-bottom: 10%;margin-top: 5%;font-weight: bold;color:#FFF;text-transform:capitalize;}
ul.measusrement-table li p:last-child{font-size: 75%}
ul.measusrement-table li p:nth-child(2){height: 30px}
ul.measusrement-table li p:nth-child(2) span{color: deepskyblue}
ul.measusrement-table li p input{text-align:center;background: rgba(0, 0, 0, 0.7);border: 1px solid #E2DFC7;border-radius: 2px;font-size: 100%;height: 20px;outline: medium none;padding: 2px;width: 80%;color: #FFF}
ul.measusrement-table li p input:focus{box-shadow: 0 0 15px #FFF}
#tab-measurement-box .titleProduct{margin: 5px 0;clear: left}
#tab-measurement-box .titleProduct span:first-child{color: #4edbf7;font-weight: bold;margin: 0 1%}
#tab-measurement-box .button{background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);color: #FFFFFF;cursor: pointer;display: inline-block;font-weight: 500;letter-spacing: 0.8px;margin-top: 10px;padding: 6px 20px;text-transform: uppercase}
#tab-measurement-box .buttonBack{background:rgba(0, 0, 0, 0.5)}
#tab-measurement-box .buttonCart{background: #4BA42C}
#tab-measurement-box .validationError{border: 1px solid red !important;}
#tab-measurement-box #ct-size-detail{font-size: 80%;color: #f3b100;text-transform:capitalize;}
#tab-measurement-box .box-media .box-media-title{font-size: 90%;padding-left: 10%}
#tab-measurement-box .box-media .border-vdo{ border: 1px solid #fff;float: left;height: 260px;margin-right: 10px;padding: 1%;width: 47%;}
#tab-measurement-box .box-media .border-img{ border: 1px solid #fff;float: left;height: 260px;padding: 1%;position: relative;width: 47%;}
#tab-measurement-box .box-extra-pant{margin-right: 10px}
#tab-measurement-box .box-extra-pant *{color: red;font-weight: bold;font-size: 100%;}
#tab-measurement-box .zoom-image-size{position: absolute;bottom: 5%;right: 5%;font-size: 90%}
#tab-measurement-box .zoom-image-size:hover{text-shadow: 2px 2px 5px #FFF;color: #FFF!important;}

/*------------------------------------------------------------------------------
 *JS SELECT BOX CSS
 *------------------------------------------------------------------------------*/
.JSselectbox{display: inline-block}
.JSselectbox input{display: none!important;}
.JSselectbox,.JSselectbox ul{background: rgba(0,0,0,0.8);z-index: 9;}
.JSselectbox{line-height: 30px;height: 29px;cursor: pointer;border: 1px solid rgba(255,255,255,0.5);position:relative}
.JSselectbox .JSselectboxList{border: 1px solid rgba(255,255,255,0.5);margin-top: 1px;display: none;position: absolute}
.JSselectbox .JSselectboxList,.JSselectbox{border-radius: 2px;width: 180px;}
.JSselectbox ul{list-style: none;padding: 0;margin: 0;}
.JSselectbox .selectbox-arrow{position: absolute;right: 6%;top: 10%;width: 0;width: 10px;height: 10px;border-left: 1px solid rgba(255,255,255,0.5);padding: 10px 0px 3px 10px}
.JSselectbox i{border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 8px solid #FFF;height: 0;}
.JSselectbox ul li{padding-left: 5px;}
.JSselectbox ul li:hover{background: rgba(0,0,0,0.5)}
.JSselectbox .selectActive{background: rgba(0,0,0,0.5)}
.JSselectbox .JSselectVal{width: 75%;padding-left: 5px}
.JSselectbox .JSselectVal,.JSselectbox ul li{font-size: 75%;color: #FFF;text-align: left;}

